
Admin/bin/*
Authentication/bin/*
BaseWebsite.Tests/*
BaseWebsite/bin/*
Friend/obj/*
Board/bin/*
Admin/obj/*
Authentication/obj/*
BaseWebsite/obj/*
Email/bin/*
Friend/bin/*
HaveAVoice.Tests/bin/*
UniversityOfMe.Tests/*
HaveAVoice/bin/*
HaveAVoice.Tests/*
HaveAVoice.Tests/bin/*
Messaging/bin/*
Messaging/obj/*
Email/obj/*
Board/obj/*
Generic/bin/*
Error/obj/*
Generic/obj/*
Photo/bin/*
Photo/obj/*
Site/bin/*
UniversityOfMe/bin/*
Error/bin/*
UniversityOfMe/obj/*
Site/obj/*
Validation/bin/*
User/bin/*
ViewHelpers/obj/*
Validation/obj/*
User/obj/*
HaveAVoice/bin/*
HaveAVoice/obj/*
ViewHelpers/bin/*
AutomatedEmail/bin/*
AutomatedEmail/obj/*