<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAIAZWFMYI5YJ62SWA" />
    <add key="AWSSecretKey" value="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" />
    <add key="UserPhotosBucket" value="HaveAVoice/UserPhotos" />
    <add key="NewAccountsEmail" value="haveavoice.notifications@haveavoice.com" />
    <add key="NotificationsEmail" value="haveavoice.notifications@haveavoice.com" />

      
  </appSettings>
  <connectionStrings>
      <!--
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    -->
    <add name="HaveAVoiceEntities" connectionString="metadata=res://*/Models.HaveAVoiceDBModel.csdl|res://*/Models.HaveAVoiceDBModel.ssdl|res://*/Models.HaveAVoiceDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\hsarat_haveavoice.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    
    <!--<add name="HaveAVoiceEntities" connectionString="metadata=res://*/Models.HaveAVoiceDBModel.csdl|res://*/Models.HaveAVoiceDBModel.ssdl|res://*/Models.HaveAVoiceDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\ec2sqlexpress;Initial Catalog=HaveAVoice;User ID=hsarat;Password=password01D;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Authentication/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>