.container-24 { width: 960px; margin-left: auto; margin-right: auto; }

.container-24 .col-1 { width: 40px; }
.container-24 .col-2 { width: 80px; }
.container-24 .col-3 { width: 120px; }
.container-24 .col-4 { width: 160px; }
.container-24 .col-5 { width: 200px; }
.container-24 .col-6 { width: 240px; }
.container-24 .col-7 { width: 280px; }
.container-24 .col-8 { width: 320px; }
.container-24 .col-9 { width: 360px; }
.container-24 .col-10 { width: 400px; }
.container-24 .col-11 { width: 440px; }
.container-24 .col-12 { width: 480px; }
.container-24 .col-13 { width: 520px; }
.container-24 .col-14 { width: 560px; }
.container-24 .col-15 { width: 600px; }
.container-24 .col-16 { width: 640px; }
.container-24 .col-17 { width: 680px; }
.container-24 .col-18 { width: 720px; }
.container-24 .col-19 { width: 760px; }
.container-24 .col-20 { width: 800px; }
.container-24 .col-21 { width: 840px; }
.container-24 .col-22 { width: 880px; }
.container-24 .col-23 { width: 920px; }
.container-24 .col-24 { width: 960px; }

.container-24 .m-lft { margin-left: 5px; }
.container-24 .m-rgt { margin-right: 5px; }

.container-24 .m-lft.col-1 { width: 35px; }
.container-24 .m-lft.col-2 { width: 75px; }
.container-24 .m-lft.col-3 { width: 115px; }
.container-24 .m-lft.col-4 { width: 155px; }
.container-24 .m-lft.col-5 { width: 195px; }
.container-24 .m-lft.col-6 { width: 235px; }
.container-24 .m-lft.col-7 { width: 275px; }
.container-24 .m-lft.col-8 { width: 315px; }
.container-24 .m-lft.col-9 { width: 355px; }
.container-24 .m-lft.col-10 { width: 395px; }
.container-24 .m-lft.col-11 { width: 435px; }
.container-24 .m-lft.col-12 { width: 475px; }
.container-24 .m-lft.col-13 { width: 515px; }
.container-24 .m-lft.col-14 { width: 555px; }
.container-24 .m-lft.col-15 { width: 595px; }
.container-24 .m-lft.col-16 { width: 635px; }
.container-24 .m-lft.col-17 { width: 675px; }
.container-24 .m-lft.col-18 { width: 715px; }
.container-24 .m-lft.col-19 { width: 755px; }
.container-24 .m-lft.col-20 { width: 795px; }
.container-24 .m-lft.col-21 { width: 835px; }
.container-24 .m-lft.col-22 { width: 875px; }
.container-24 .m-lft.col-23 { width: 915px; }
.container-24 .m-lft.col-24 { width: 955px; }

.container-24 .m-rgt.col-1 { width: 35px; }
.container-24 .m-rgt.col-2 { width: 75px; }
.container-24 .m-rgt.col-3 { width: 115px; }
.container-24 .m-rgt.col-4 { width: 155px; }
.container-24 .m-rgt.col-5 { width: 195px; }
.container-24 .m-rgt.col-6 { width: 235px; }
.container-24 .m-rgt.col-7 { width: 275px; }
.container-24 .m-rgt.col-8 { width: 315px; }
.container-24 .m-rgt.col-9 { width: 355px; }
.container-24 .m-rgt.col-10 { width: 395px; }
.container-24 .m-rgt.col-11 { width: 435px; }
.container-24 .m-rgt.col-12 { width: 475px; }
.container-24 .m-rgt.col-13 { width: 515px; }
.container-24 .m-rgt.col-14 { width: 555px; }
.container-24 .m-rgt.col-15 { width: 595px; }
.container-24 .m-rgt.col-16 { width: 635px; }
.container-24 .m-rgt.col-17 { width: 675px; }
.container-24 .m-rgt.col-18 { width: 715px; }
.container-24 .m-rgt.col-19 { width: 755px; }
.container-24 .m-rgt.col-20 { width: 795px; }
.container-24 .m-rgt.col-21 { width: 835px; }
.container-24 .m-rgt.col-22 { width: 875px; }
.container-24 .m-rgt.col-23 { width: 915px; }
.container-24 .m-rgt.col-24 { width: 955px; }

.container-24 .m-lft.col-1.m-rgt { width: 30px; }
.container-24 .m-lft.col-2.m-rgt { width: 70px; }
.container-24 .m-lft.col-3.m-rgt { width: 110px; }
.container-24 .m-lft.col-4.m-rgt { width: 150px; }
.container-24 .m-lft.col-5.m-rgt { width: 190px; }
.container-24 .m-lft.col-6.m-rgt { width: 230px; }
.container-24 .m-lft.col-7.m-rgt { width: 270px; }
.container-24 .m-lft.col-8.m-rgt { width: 310px; }
.container-24 .m-lft.col-9.m-rgt { width: 350px; }
.container-24 .m-lft.col-10.m-rgt { width: 390px; }
.container-24 .m-lft.col-11.m-rgt { width: 430px; }
.container-24 .m-lft.col-12.m-rgt { width: 470px; }
.container-24 .m-lft.col-13.m-rgt { width: 510px; }
.container-24 .m-lft.col-14.m-rgt { width: 550px; }
.container-24 .m-lft.col-15.m-rgt { width: 590px; }
.container-24 .m-lft.col-16.m-rgt alpha
.container-24 .m-lft.col-17.m-rgt { width: 670px; }
.container-24 .m-lft.col-18.m-rgt { width: 710px; }
.container-24 .m-lft.col-19.m-rgt { width: 750px; }
.container-24 .m-lft.col-20.m-rgt { width: 790px; }
.container-24 .m-lft.col-21.m-rgt { width: 830px; }
.container-24 .m-lft.col-22.m-rgt { width: 870px; }
.container-24 .m-lft.col-23.m-rgt { width: 910px; }
.container-24 .m-lft.col-24.m-rgt { width: 950px; }

.container-24 .alpha.col-1, .container-24 .col-1.omega { width: 35px; }
.container-24 .alpha.col-2, .container-24 .col-2.omega { width: 75px; }
.container-24 .alpha.col-3, .container-24 .col-3.omega { width: 115px; }
.container-24 .alpha.col-4, .container-24 .col-4.omega { width: 155px; }
.container-24 .alpha.col-5, .container-24 .col-5.omega { width: 195px; }
.container-24 .alpha.col-6, .container-24 .col-6.omega { width: 235px; }
.container-24 .alpha.col-7, .container-24 .col-7.omega { width: 275px; }
.container-24 .alpha.col-8, .container-24 .col-8.omega { width: 315px; }
.container-24 .alpha.col-9, .container-24 .col-9.omega { width: 355px; }
.container-24 .alpha.col-10, .container-24 .col-10.omega { width: 395px; }
.container-24 .alpha.col-11, .container-24 .col-11.omega { width: 435px; }
.container-24 .alpha.col-12, .container-24 .col-12.omega { width: 475px; }
.container-24 .alpha.col-13, .container-24 .col-13.omega { width: 515px; }
.container-24 .alpha.col-14, .container-24 .col-14.omega { width: 555px; }
.container-24 .alpha.col-15, .container-24 .col-15.omega { width: 595px; }
.container-24 .alpha.col-16, .container-24 .col-16.omega { width: 635px; }
.container-24 .alpha.col-17, .container-24 .col-17.omega { width: 675px; }
.container-24 .alpha.col-18, .container-24 .col-18.omega { width: 715px; }
.container-24 .alpha.col-19, .container-24 .col-19.omega { width: 755px; }
.container-24 .alpha.col-20, .container-24 .col-20.omega { width: 795px; }
.container-24 .alpha.col-21, .container-24 .col-21.omega { width: 835px; }
.container-24 .alpha.col-22, .container-24 .col-22.omega { width: 875px; }
.container-24 .alpha.col-23, .container-24 .col-23.omega { width: 915px; }
.container-24 .alpha.col-24, .container-24 .col-24.omega { width: 955px; }

.container-24 .alpha.col-1.omega { width: 30px; }
.container-24 .alpha.col-2.omega { width: 70px; }
.container-24 .alpha.col-3.omega { width: 110px; }
.container-24 .alpha.col-4.omega { width: 150px; }
.container-24 .alpha.col-5.omega { width: 190px; }
.container-24 .alpha.col-6.omega { width: 230px; }
.container-24 .alpha.col-7.omega { width: 270px; }
.container-24 .alpha.col-8.omega { width: 310px; }
.container-24 .alpha.col-9.omega { width: 350px; }
.container-24 .alpha.col-10.omega { width: 390px; }
.container-24 .alpha.col-11.omega { width: 430px; }
.container-24 .alpha.col-12.omega { width: 470px; }
.container-24 .alpha.col-13.omega { width: 510px; }
.container-24 .alpha.col-14.omega { width: 550px; }
.container-24 .alpha.col-15.omega { width: 590px; }
.container-24 .alpha.col-16.omega { width: 630px; }
.container-24 .alpha.col-17.omega { width: 670px; }
.container-24 .alpha.col-18.omega { width: 710px; }
.container-24 .alpha.col-19.omega { width: 750px; }
.container-24 .alpha.col-20.omega { width: 790px; }
.container-24 .alpha.col-21.omega { width: 830px; }
.container-24 .alpha.col-22.omega { width: 870px; }
.container-24 .alpha.col-23.omega { width: 910px; }
.container-24 .alpha.col-24.omega { width: 950px; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-19,
.col-20,
.col-21,
.col-22,
.col-23,
.col-24 { float: left; display: inline; }

.container-24 .grid-1 { width: 30px; }
.container-24 .grid-2 { width: 70px; }
.container-24 .grid-3 { width: 110px; }
.container-24 .grid-4 { width: 150px; }
.container-24 .grid-5 { width: 190px; }
.container-24 .grid-6 { width: 230px; }
.container-24 .grid-7 { width: 270px; }
.container-24 .grid-8 { width: 310px; }
.container-24 .grid-9 { width: 350px; }
.container-24 .grid-10 { width: 390px; }
.container-24 .grid-11 { width: 430px; }
.container-24 .grid-12 { width: 470px; }
.container-24 .grid-13 { width: 510px; }
.container-24 .grid-14 { width: 550px; }
.container-24 .grid-15 { width: 590px; }
.container-24 .grid-16 { width: 630px; }
.container-24 .grid-17 { width: 670px; }
.container-24 .grid-18 { width: 710px; }
.container-24 .grid-19 { width: 750px; }
.container-24 .grid-20 { width: 790px; }
.container-24 .grid-21 { width: 830px; }
.container-24 .grid-22 { width: 870px; }
.container-24 .grid-23 { width: 910px; }
.container-24 .grid-24 { width: 950px; }

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-17,
.grid-18,
.grid-19,
.grid-20,
.grid-21,
.grid-22,
.grid-23,
.grid-24 { float: left; display: inline; margin-left: 5px; margin-right: 5px; }

.container-24 .prefix-1 { padding-left: 40px; }
.container-24 .prefix-2 { padding-left: 80px; }
.container-24 .prefix-3 { padding-left: 120px; }
.container-24 .prefix-4 { padding-left: 160px; }
.container-24 .prefix-5 { padding-left: 200px; }
.container-24 .prefix-6 { padding-left: 240px; }
.container-24 .prefix-7 { padding-left: 280px; }
.container-24 .prefix-8 { padding-left: 320px; }
.container-24 .prefix-9 { padding-left: 360px; }
.container-24 .prefix-10 { padding-left: 400px; }
.container-24 .prefix-11 { padding-left: 440px; }
.container-24 .prefix-12 { padding-left: 480px; }
.container-24 .prefix-13 { padding-left: 520px; }
.container-24 .prefix-14 { padding-left: 560px; }
.container-24 .prefix-15 { padding-left: 620px; }
.container-24 .prefix-16 { padding-left: 660px; }
.container-24 .prefix-17 { padding-left: 700px; }
.container-24 .prefix-18 { padding-left: 740px; }
.container-24 .prefix-19 { padding-left: 780px; }
.container-24 .prefix-20 { padding-left: 820px; }
.container-24 .prefix-21 { padding-left: 860px; }
.container-24 .prefix-22 { padding-left: 900px; }
.container-24 .prefix-23 { padding-left: 940px; }

.container-24 .suffix-1 { padding-right: 40px; }
.container-24 .suffix-2 { padding-right: 80px; }
.container-24 .suffix-3 { padding-right: 120px; }
.container-24 .suffix-4 { padding-right: 160px; }
.container-24 .suffix-5 { padding-right: 200px; }
.container-24 .suffix-6 { padding-right: 240px; }
.container-24 .suffix-7 { padding-right: 280px; }
.container-24 .suffix-8 { padding-right: 320px; }
.container-24 .suffix-9 { padding-right: 360px; }
.container-24 .suffix-10 { padding-right: 400px; }
.container-24 .suffix-11 { padding-right: 440px; }
.container-24 .suffix-12 { padding-right: 480px; }
.container-24 .suffix-13 { padding-right: 520px; }
.container-24 .suffix-14 { padding-right: 560px; }
.container-24 .suffix-15 { padding-right: 620px; }
.container-24 .suffix-16 { padding-right: 660px; }
.container-24 .suffix-17 { padding-right: 700px; }
.container-24 .suffix-18 { padding-right: 740px; }
.container-24 .suffix-19 { padding-right: 780px; }
.container-24 .suffix-20 { padding-right: 820px; }
.container-24 .suffix-21 { padding-right: 860px; }
.container-24 .suffix-22 { padding-right: 900px; }
.container-24 .suffix-23 { padding-right: 940px; }

.pull-1 { left: -40px; }
.pull-2 { left: -80px; }
.pull-3 { left: -120px; }
.pull-4 { left: -160px; }
.pull-5 { left: -200px; }
.pull-6 { left: -240px; }
.pull-7 { left: -280px; }
.pull-8 { left: -320px; }
.pull-9 { left: -360px; }
.pull-10 { left: -400px; }
.pull-11 { left: -440px; }
.pull-12 { left: -480px; }
.pull-13 { left: -520px; }
.pull-14 { left: -560px; }
.pull-15 { left: -600px; }
.pull-16 { left: -640px; }
.pull-17 { left: -680px; }
.pull-18 { left: -720px; }
.pull-19 { left: -760px; }
.pull-20 { left: -800px; }
.pull-21 { left: -840px; }
.pull-22 { left: -880px; }
.pull-23 { left: -920px; }
.pull-24 { left: -960px; }

.pull-1,
.pull-2,
.pull-3,
.pull-4,
.pull-5,
.pull-6,
.pull-7,
.pull-8,
.pull-9,
.pull-10,
.pull-11,
.pull-12,
.pull-13,
.pull-14,
.pull-15,
.pull-16,
.pull-17,
.pull-18,
.pull-19,
.pull-20,
.pull-21,
.pull-22,
.pull-23,
.pull-24 { position: relative; }

.push-1 { left: 40px; }
.push-2 { left: 80px; }
.push-3 { left: 120px; }
.push-4 { left: 160px; }
.push-5 { left: 200px; }
.push-6 { left: 240px; }
.push-7 { left: 280px; }
.push-8 { left: 320px; }
.push-9 { left: 360px; }
.push-10 { left: 400px; }
.push-11 { left: 440px; }
.push-12 { left: 480px; }
.push-13 { left: 520px; }
.push-14 { left: 560px; }
.push-15 { left: 600px; }
.push-16 { left: 640px; }
.push-17 { left: 680px; }
.push-18 { left: 720px; }
.push-19 { left: 760px; }
.push-20 { left: 800px; }
.push-21 { left: 840px; }
.push-22 { left: 880px; }
.push-23 { left: 920px; }
.push-24 { left: 960px; }

.push-1,
.push-2,
.push-3,
.push-4,
.push-5,
.push-6,
.push-7,
.push-8,
.push-9,
.push-10,
.push-11,
.push-12,
.push-13,
.push-14,
.push-15,
.push-16,
.push-17,
.push-18,
.push-19,
.push-20,
.push-21,
.push-22,
.push-23,
.push-24 { position: relative; }

.alpha { margin-left: 0px; }
.omega { margin-right: 0px; }

.clear { width: 0px; height: 0px; clear: both; visibility: hidden; }