body { font-family: helvetica, arial, sans-serif; background: #d9e9ed; }

.hue-1 { color: #20c994; }
.hue-2 { color: #20c9be; }
.hue-3 { color: #20a9c9; }
.hue-4 { color: #207ec9; }
.hue-5 { color: #2054c9; }

.bhue-2 { background: #20c9be; }

.varient-1 { color: #00bce0; }
.varient-2 { color: #08b7e0; }
.varient-3 { color: #20a9c9; }
.varient-4 { color: #4293a6; }
.varient-5 { color: #657d83; }

.tint-1 { color: #c0eaf4; }
.tint-2 { color: #68cee6; }
.tint-3 { color: #20a9c9; }
.tint-4 { color: #115f71; }
.tint-5 { color: #031519; }
.tint-6 { color: #3da4be; }


/****************************************************************************/
/***************************** BACKGROUNDS **********************************/
/****************************************************************************/
.btint-6 { background: #3da4be; }
.b-wht { background: #ffffff; }


/****************************************************************************/
/********************************* COLORS ***********************************/
/****************************************************************************/
.color-1 { color: #20A9C9; }
.color-2 { color: #0a3a45; }
.color-3 { color: #94dced; }
.color-4 { color: #747474; }

.color-5 { color: #d56667; }

.like { color: #2070c9; }
.dislike { color: #c94020; }

/****************************************************************************/
/****************************** TEXT-ALIGN **********************************/
/****************************************************************************/
.center { text-align: center; }
.right { text-align: right; }

.bold { font-weight: bold; }


/****************************************************************************/
/******************************** SPACERS ***********************************/
/****************************************************************************/
.spacer-2 { height: 2px; }
.spacer-4 { height: 4px; }
.spacer-10 { height: 10px; }
.spacer-30 { height: 30px; }


/****************************************************************************/
/********************************* MARGIN ***********************************/
/****************************************************************************/
.m-top20 { margin-top: 20px; }

.m-btm5 { margin-bottom: 5px; }
.m-btm20 { margin-bottom: 20px; }
.m-btm25 { margin-bottom: 25px; }
.m-btm30 { margin-bottom: 30px; }

.m-lft10 { margin-left: 10px; }

.m-rgt10 { margin-right: 10px; }


/****************************************************************************/
/******************************** PADDING ***********************************/
/****************************************************************************/
.p-t5 { padding-top: 5px; }
.p-b5 { padding-bottom: 5px; }
.p-a5 { padding: 5px; }
.p-a10 { padding: 10px; }
.p-v15 { padding-top: 15px; padding-bottom: 15px; }


/****************************************************************************/
/********************************** FONT ************************************/
/****************************************************************************/
.fnt-10 { font-size: 10px; }
.fnt-12 { font-size: 12px; }
.fnt-14 { font-size: 14px; }
.fnt-16 { font-size: 16px; }
.fnt-18 { font-size: 18px; }


/****************************************************************************/
/******************************** POSITION **********************************/
/****************************************************************************/
.rel { position: relative; }
.cell { display: table-cell; }
.cell.center { vertical-align: middle; }


/****************************************************************************/
/********************************* HEADER ***********************************/
/****************************************************************************/
.header { background: #20a9c9; border-bottom: 1px solid #fff; padding: 10px 0px; color: #ffffff; }
.header input[type=text], .header input[type=password] { width: 190px; height: 22px; border-left: 1px solid #abd0d9; border-top: 1px solid #abd0d9; border-right: 1px solid #fff; border-bottom: 1px solid #fff; }
.header label { font-weight: bold; font-size: 14px; color: #a4a4a4; position: absolute; left: 4px; top: 6px; text-transform: uppercase; cursor: text; }

.header .sign-in { padding: 4px 0px; font-size: 20px; font-weight: bold; text-transform: capitalize; }

.header a.forgot, .header a.forgot:link, .header a.forgot:visited { font-size: 10px; font-weight: bold; text-transform: uppercase; }
.header .remember { text-transform: uppercase; font-size: 10px; font-weight: bold; margin-top: 4px; }
.header .remember input[type=checkbox] { position: absolute; top: 0px; left: 86px; }

.header input[type=submit].button { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #ffffff; font-weight: bold; text-transform: uppercase; padding: 5px 10px; background: #115f71; cursor: pointer; }
.header input[type=submit].button:hover { color: #115f71; background: #fff; }

.header ul.right { float: right; }
.header ul.right li { margin-left: 5px; margin-right: 0px; }
.header ul li { float: left; margin: 10px 5px; }
.header ul li a, .header ul li a:link, .header ul li a:visited { text-decoration: none; color: #ffffff; padding: 10px 5px; font-weight: bold; position: relative; }
.header ul li a:hover { background: #ffffff; color: #20a9c9; }

.header ul li a span.alert { position: absolute; top: -8px; right: -10px; font-weight: normal; background: red; border: 2px solid #fff; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; z-index: 10; min-width: 10px; min-height: 10px; color: #fff; font-size: 11px; padding: 2px; text-align: center; }

.t-tab { -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; }


/****************************************************************************/
/****************************** SIGNUP PANEL ********************************/
/****************************************************************************/
.sign-up { border-radius: 3px -moz-border-radius: 3px; -webkit-border-radius: 3px; background: #c1dee5; margin: 15px auto; padding: 20px 0px; }
.sign-up h3 { color: #88bbc7; font-size: 22px; text-shadow: #fff 1px 1px 1px, #587980 -1px -1px 1px; }
.sign-up input[type=button].create { color: #58aabf; cursor: pointer; font-size: 14px; font-weight: bold; text-align: center; padding: 6px 20px; border: 1px solid #d3e9ee;	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0px 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.2); -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.2); text-shadow: #fff 1px 1px 1px, #329cbc -1px -1px 1px; background: #d5eaef; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(227,241,244))); background: -moz-linear-gradient(center top, rgb(255,255,255) 0%, rgb(227,241,244) 100%); }


/****************************************************************************/
/****************************** USER PANEL **********************************/
/****************************************************************************/
.user-panel { margin: 10px 0px; }
.user-panel ul li { float: left; border-left: 1px solid #ffffff; border-right: 1px solid #c0d8de; }
.user-panel ul li.first { border-left: none; border-top-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; }
.user-panel ul li.last { border-right: none; border-top-right-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; }
.user-panel ul li:hover, .user-panel ul li.active { background-color: #c0d8de; }
.user-panel ul li a { width: 32px; height: 24px; -moz-background-size: 24px; background-size: 24px; display: block; outline: none; text-indent: -9999px; padding: 0px 10px; }
.user-panel ul li a.home { background-image: url("images/menu/home.png"); background-position: center center; background-repeat: no-repeat;  }
.user-panel ul li a.message { background-image: url("images/menu/message.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.photo { background-image: url("images/menu/photo.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.event { background-image: url("images/menu/event.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.info { background-image: url("images/menu/info.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel img.profile { max-width: 120px; max-height: 120px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

.user-panel .advertisement { text-align: left; font-size: 11px; color: #4b4b4b; }
.user-panel .advertisement h1 { text-transform: uppercase; border-bottom: 1px solid #4b4b4b; font-size: 12px; color: #4b4b4b; margin-bottom: 5px; }
.user-panel .advertisement img { max-height: 92px; margin-left: 5px; float: right; }

.user-panel .user-control { margin-top: 10px; }
.user-panel .user-control h1 { font-size: 18px; color: #20a9c9; text-shadow: #4c8b9a -1px -1px -1px, #fff 1px 1px 1px; text-transform: uppercase; }
.user-panel .user-control h2 { font-size: 16px; color: #63a8b8; margin-top: 5px; }
.user-panel .user-control span.time { font-size: 12px; color: #a2a2a2; }


/****************************************************************************/
/************************* LEFT NAVIGATION **********************************/
/****************************************************************************/
.left-nav ul li { border-bottom: 1px solid #c0d8de; border-top: 1px solid #ffffff; padding-left: 5px; }
.left-nav ul li.first { border-top: none; }
.left-nav ul li.last { border-bottom: none; }
.left-nav ul li a, .left-nav ul li a:link, .left-nav ul li a:visited { text-decoration: none; font-weight: bold; color: #ffffff; display: block; padding: 10px 0px; }
.left-nav ul li:hover { background-color: #c0d8de; padding-left: 10px; }


/****************************************************************************/
/************************** PASSWORD STRENGTH *******************************/
/****************************************************************************/
#meter { color: #000; font-weight:bold; }
#meter > div { width: 33%; padding-top: 5px; padding-bottom: 5px; text-align: center; border: 0px solid transparent; margin-top: 5px; float: left; }
#meter > div.weak { border-color: #c00; background: #F7CBCA; }
#meter > div.okay { border-color: #dedede; background: #FFC; }
#meter > div.good { border-color: #349534; background: #C9FFCA; }


/****************************************************************************/
/***************************** CREATE ACCOUNT *******************************/
/****************************************************************************/
form.create label { font-weight: bold; color: #a2a2a2; font-size: 14px; }
form.create input[type=text], form.create input[type=password] { font-size: 14px; border: #20a9c9 solid 1px; width: 100%; }
form.create textarea { resize: none; }
form.create input[type=submit].create { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #ffffff; font-weight: bold; text-transform: uppercase; padding: 5px 10px; background: #115f71; cursor: pointer; font-size: 18px; }
form.create input[type=submit].create:hover { color: #115f71; background: #fff; }
form.create a.cancel, form.create a.cancel:link, form.create a.cancel:visited { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; font-weight: bold; text-transform: uppercase; padding: 5px 10px; background: #115f71; cursor: pointer; font-size: 18px; text-decoration: none; }
form.create a.cancel:hover { color: #115f71; background: #fff; }


/****************************************************************************/
/**************************** HOMEPAGE PROFILE ******************************/
/****************************************************************************/
.not-logged .member-bar { background: #f4f9fa; border-top: 1px solid #e3eff1; border-bottom: 1px solid #e3eff1; }
.not-logged { font-size: 12px; color: #000000; }
.not-logged img.profile { max-width: 80px; max-height: 80px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.not-logged a.profile, .not-logged a.profile:link, .not-logged a.profile:visited { display: block; font-size: 14px; font-weight: bold; text-decoration: none; color: #279dba; margin-bottom: 5px; }
.not-logged span.profile { color: #a2a2a2; display: block; font-size: 11px; padding-top: 5px; padding-bottom: 5px; }

.not-logged a.like, .not-logged a.like:link, .not-logged a.like:visited { color: #51b0c7; text-decoration: none; text-transform: uppercase; font-weight: bold; }
.not-logged a.like:hover { text-decoration: underline; }
.not-logged a.like img { border: 0px none transparent; margin-right: 5px; }

.not-logged a.dislike, .not-logged a.dislike:link, .not-logged a.dislike:visited { float: right; color: #cf7575; text-decoration: none; text-transform: uppercase; font-weight: bold; }
.not-logged a.dislike:hover { text-decoration: underline; }
.not-logged a.dislike img { border: 0px none transparent; margin-left: 5px; }

.not-logged a.more-like, .not-logged a.more-like:link, .not-logged a.more-like:visited { font-weight: bold; text-decoration: none; color: #3da4be; padding: 2px 5px; }
.not-logged a.more-like:hover { background: #3da4be; color: #ffffff; }
.not-logged a.more-dislike, .not-logged a.more-dislike:link, .not-logged a.more-dislike:visited { font-weight: bold; text-decoration: none; padding: 2px 5px; color: #d56667; }
.not-logged a.more-dislike:hover { background: #d56667; color: #ffffff; }


/****************************************************************************/
/******************************** FAN FEED **********************************/
/****************************************************************************/
img.profile { border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; max-width: 80px; max-height: 80px; }
.comment .options span { font-size: 12px; }
.row a.name, .row a.name:link, .row a.name:visited { font-size: 12px; font-style: normal; font-weight: bold; text-decoration: none; color: #20a9c9; }
.row a.like, .row a.like:link, .row a.like:visited { color: #2070c9; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; background: transparent; }
.row span.like { color: #2070c9; font-size: 12px; background: transparent; }
.row a.dislike, .row a.dislike:link, .row a.dislike:visited { text-decoration: none; font-size: 12px; font-weight: bold; font-style: normal; text-transform: uppercase; }
.row span.dislike { color: #c94020; font-size: 12px; background: transparent; }
.row a.comment, .row a.comment:link, .row a.comment:visited { color: #115f71; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; }
.row span.comment { color: #115f71; font-size: 12px; background: transparent; }
.row a.people, a.people:link, a.people:visited { text-decoration: none; color: #4b4b4b; }

.row h1 a { text-decoration: none; font-size: 24px; font-weight: bold; margin-bottom: 5px; color: #20a9c9; }

.comment .options { position: absolute; bottom: 10px; }

.row { position: relative; }
.row, .alt { font-size: 12px; }
.row .comment { background: #c0d8de; color: #747474; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; min-height: 80px; position: relative; }
.row .comment span.speak-lft { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #c0d8de transparent transparent transparent; position: absolute; left: -10px; top: 30px; }

.alt { position: relative; }
.alt .comment { background: #b6dde7; color: #747474; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; min-height: 80px; position: relative; }
.alt .comment span.speak-lft { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #b6dde7 transparent transparent transparent; position: absolute; left: -10px; top: 30px; }

.date-tile { color: #a2a2a2; font-weight: bold; font-size: 16px; }
.date-tile span { color: #4b4b4b; }

.reply { margin-top: 10px; }

.reply .comment textarea { border: 1px solid #20a9c9; width: 100%; background: #fff; color: #000; margin-bottom: 5px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
/* input.button { color: #fff; font-weight: bold; font-size: 13px; background: #20a9c9; border: 2px solid #fff; padding: 5px; cursor: pointer; } */


/****************************************************************************/
/**************************** ISSUES ****************************************/
/****************************************************************************/
.issue-create { font-size: 16px; color: #fff; text-decoration: none; font-weight: bold; }
.issue { background: #c0d8de; min-height: 80px; }
.issue h1 a { text-decoration: none; font-size: 24px; font-weight: bold; margin-bottom: 5px; color: #fff; }
.issue { font-size: 12px; margin-bottom: 5px; }
.issue a.like, .issue a.like:link, .issue a.like:visited { color: #2070c9; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; background: transparent; }
.issue a.dislike, .issue a.dislike:link, .issue a.dislike:visited { text-decoration: none; font-size: 12px; font-weight: bold; font-style: normal; text-transform: uppercase; }
.issue a.delete, .issue a.delete:link, .issue a.delete:visited { color: #DC143C; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; }


/****************************************************************************/
/******************************* EVENTS *************************************/
/****************************************************************************/
.events .row { background: #c0d8de; }
.events .alt { background: #b6dde7; }
.events a.delete, .events a.delete:link, .events a.delete:visited { color: #DC143C; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; }

/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
.events .title { padding: 5px 0px; text-align: center; text-transform: uppercase; font-weight: bold; color: #ffffff; background: #a0cfdB; }
.events .prev, .events .next { height: 110px; background: #c0d8de; }
.events .prev span, .events .next span { color: #a2a2a2; float: right; margin-top: 5px; margin-right: 5px; font-size: 24px; }
.events .curr { height: 110px; background: #20a9c9; }
.events .curr span { color: #ffffff; float: right; margin-top: 5px; margin-right: 5px; font-size: 24px; }

.photos .user-info { background: #c0d8de; color: #ffffff; height: 200px; font-style: italic; position: relative; }
.photos .user-info .padding-5 { padding: 5px; }
.photos .user-info a.name, .photos .user-info a.name:link, .photos .user-info a.name:visited { font-size: 14px; font-style: normal; font-weight: bold; text-decoration: none; color: #20a9c9; display: block; }
.photos .user-info img.profile { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; max-width: 80px; max-height: 80px; }
.photos .user-info h1 { font-size: 22px; font-style: italic; margin-top: 10px; color: #63a8b8; }
.photos .user-info .link { position: absolute; bottom: 5; font-weight: bold; }
.photos .user-info .link a, .photos .user-info .link a:link, .photos .user-info .link a:visited { font-size: 12px; font-style: normal; text-decoration: none; text-transform: uppercase; }

.photos .user-info .link a.like, .photos .user-info .link a.like:link, .photos .user-info .link a.like:visited { color: #51b0c7; }
.photos .user-info .link a.comment, .photos .user-info .link a.comment:link, .photos .user-info .link a.comment:visited { color: #115f71; }

.photos .photo { height: 200px; text-indent: -9999px; background-size: 200px; }

.photos .date-tile { height: 200px; background: #c0d8de; position: relative; }
.photos .date-tile .padding-5 { font-size: 16px; padding: 5px; position: absolute; bottom: 0; font-weight: bold; color: #a2a2a2; }
.photos .date-tile .padding-5 span { color: #4b4b4b; }


.friends img.profile { max-width: 120px; max-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.friends .alt { background: #b6dde7; }
.friends .friend div.profile { width: 120px; height: 120px; margin: 0px auto; }
/*.friends .friend div.name { position: absolute; bottom: 5; width: 100%; } */
.friends a.name, .friends a.name:link, .friends a.name:visited { color: #20a9c9; font-size: 14px; font-style: normal; font-weight: bold; text-decoration: none; }

.message img.profile { max-width: 120px; max-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.message .subject a { font-size: 18px; color: #a2a2a2; text-decoration: none; }
.message .date-tile { font-size: 16px; font-weight: bold; color: #a2a2a2; }
.message .date-tile span { color: #4b4b4b; }
.message .body { font-size: 12px; color: #3b3b3b; }

.issue img.profile { max-width: 120px; max-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.issue a.name, .issue a.name:link, .issue a.name:visited { font-size: 13px; font-style: normal; font-weight: bold; text-decoration: none; color: #20a9c9; }
.issue a.filter, .issue a.filter:link, .issue a.filter:visited { color: #fff; text-decoration: none; background: #b6dde7; padding: 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; display: block; }
.issue a.filter:hover { background: #20a9c9; font-weight: bold; }
.issue a.filter.like:hover { background: #2070c9; font-weight: bold; }
.issue a.filter.dislike:hover { background: #c94020; font-weight: bold; }

.issue .stats { background: #b6dde7; color: #4b4b4b; min-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.issue .stats h4 { color: #fff; font-size: 16px; }
.issue .date-tile { color: #a2a2a2; font-weight: bold; font-size: 16px; min-height: 120px; background: #c0d8de; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.issue .date-tile span { color: #4b4b4b; }

.issue .comment { position: relative; background: #20a9c9; color: #fff; font-size: 13px; min-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.issue .comment h1 { font-size: 18px; font-style: italic; }
.issue .comment .speak-lft { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #20a9c9 transparent transparent transparent; position: absolute; left: -10px; top: 30px; }

.issue .agree .comment { color: #fff; position: relative; background: #4271a6; min-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.issue .agree .comment .speak-lft { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #4271a6 transparent transparent transparent; position: absolute; left: -10px; top: 30px; }
.issue .disagree .comment { color: #fff; position: relative; background: #e03108; min-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.issue .disagree .speak-rgt { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #e03108 transparent transparent transparent; position: absolute; right: -10px; top: 30px; }

.sub-main { color: #ffffff; background: #99bcc5; }
.sub-main h5 { padding: 0px; color: #5d828b; font-size: 14px; font-weight: normal; margin: 0px 0px 10px 0px; }
.sub-main h5.popular { padding-left: 23px; background: url("images/popular.png") 0px 2px no-repeat; }
.sub-main h5.comment { padding-left: 23px; background: url("images/comment.png") 0px 2px no-repeat; }

ul.bullet { padding-left: 14px; list-style-position: outside; }
ul.bullet li { list-style: disc; padding-top: 5px; padding-bottom: 5px; }

.footer { color: #849fa5; font-size: 12px; margin-bottom: 20px; }
.footer a, .footer a:link, .footer a:visited { color: #849fa5; font-size: 12px; text-decoration: none; }
.footer a:hover { text-decoration: underline; }

/* Advertisement */
.iab-leaderboard { width: 728px; margin: 0px auto; }




/* TEMP */
.like { background: #fff; }