body { font-family: helvetica, arial, sans-serif; background: #20a9c9; }

.hue-1 { color: #20c994; }
.hue-2 { color: #20c9be; }
.hue-3 { color: #20a9c9; }
.hue-4 { color: #207ec9; }
.hue-5 { color: #2054c9; }

.bhue-2 { background: #20c9be; }

.varient-1 { color: #00bce0; }
.varient-2 { color: #08b7e0; }
.varient-3 { color: #20a9c9; }
.varient-4 { color: #4293a6; }
.varient-5 { color: #657d83; }

.tint-1 { color: #c0eaf4; }
.tint-2 { color: #68cee6; }
.tint-3 { color: #20a9c9; }
.tint-4 { color: #115f71; }
.tint-5 { color: #031519; }
.tint-6 { color: #3da4be; }


/****************************************************************************/
/***************************** BACKGROUNDS **********************************/
/****************************************************************************/
.btint-6 { background: #3da4be; }
.b-wht { background: #ffffff; }

.round-5 { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }


/****************************************************************************/
/********************************* COLORS ***********************************/
/****************************************************************************/
.color-1 { color: #20A9C9; }
.color-2 { color: #0a3a45; }
.color-3 { color: #94dced; }
.color-4 { color: #747474; }

.color-5 { color: #d56667; }
.c-white { color: #fff; }
.c-gray { color: #a2a2a2; }

.red { color: #d56667; }
.blue { color: #04637a; }
.teal { color: #34a8c3; }
.green { color: #82ca7a; }

.like { color: #2070c9; }
.dislike { color: #c94020; }


/****************************************************************************/
/****************************** TEXT-ALIGN **********************************/
/****************************************************************************/
.f-lft { float: left; }
.f-rgt { float: right; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.bold { font-weight: bold; }


/****************************************************************************/
/******************************** SPACERS ***********************************/
/****************************************************************************/
.spacer-2 { height: 2px; }
.spacer-4 { height: 4px; }
.spacer-10 { height: 10px; }
.spacer-15 { height: 15px; }
.spacer-30 { height: 30px; }


/****************************************************************************/
/********************************* MARGIN ***********************************/
/****************************************************************************/
.m-top5 { margin-top: 5px; }
.m-top8 { margin-top: 8px; }
.m-top10 { margin-top: 10px; }
.m-top15 { margin-top: 15px; }
.m-top20 { margin-top: 20px; }
.m-top30 { margin-top: 30px; }

.m-btm5 { margin-bottom: 5px; }
.m-btm10 { margin-bottom: 10px; }
.m-btm15 { margin-bottom: 15px; }
.m-btm20 { margin-bottom: 20px; }
.m-btm25 { margin-bottom: 25px; }
.m-btm30 { margin-bottom: 30px; }

.m-lft10 { margin-left: 10px; }

.m-rgt5 { margin-right: 5px; }
.m-rgt10 { margin-right: 10px; }

.m-a10 { margin: 10px; }


/****************************************************************************/
/******************************** PADDING ***********************************/
/****************************************************************************/
.p-t5 { padding-top: 5px; }
.p-t10 { padding-top: 10px; }

.p-b5 { padding-bottom: 5px; }
.p-b10 { padding-bottom: 10px; }

.p-h5 { padding-left: 5px; padding-right: 5px; }
.p-h10 { padding-left: 10px; padding-right: 10px; }

.p-a5 { padding: 5px; }
.p-a10 { padding: 10px; }

.p-v5 { padding-top: 5px; padding-bottom: 5px; }
.p-v10 { padding-top: 10px; padding-bottom: 10px; }
.p-v15 { padding-top: 15px; padding-bottom: 15px; }


/****************************************************************************/
/********************************** FONT ************************************/
/****************************************************************************/
.fnt-10 { font-size: 10px; }
.fnt-12 { font-size: 12px; }
.fnt-14 { font-size: 14px; }
.fnt-16 { font-size: 16px; }
.fnt-18 { font-size: 18px; }
.fnt-24 { font-size: 24px; }


/****************************************************************************/
/******************************** POSITION **********************************/
/****************************************************************************/
.rel { position: relative; }
.cell { display: table-cell; }
.cell.center { vertical-align: middle; }

.container { background: #d9e9ed; }
.main-body { min-height: 760px; background: #d9e9ed; padding-bottom: 30px; }
img.profile { border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; max-width: 80px; max-height: 80px; }
img.profile.sm { max-height: 40px; max-width: 40px; }
img.profile.lg { max-height: 120px; max-width: 120px; }


/****************************************************************************/
/************************** ERROR MESSAGE ***********************************/
/****************************************************************************/
div.error { padding: 10px 0px; background: #f6cbca; color: #d02327; border: 1px solid #cb2026; text-align: center; width: 640px; margin: 0px auto 10px auto; font-weight: bold; font-size: 12px; }
div.success { padding: 10px 0px; background: #eef4d4; color: #6f8438; border: 1px solid #8fad3d; text-align: center; width: 640px; margin: 0px auto 10px auto; font-weight: bold; font-size: 12px; }
div.normal { padding: 10px 0px; background: #fcf9ce; color: #43423c; border: 1px solid #dfdfde; text-align: center; width: 640px; margin: 0px auto 10px auto; font-weight: bold; font-size: 12px; }
div.error-msg { padding: 20px; background: #fff; color: #20a9c9; width: 540px; margin: 50px auto; }
div.msg { border: 2px solid #20a9c9; background: #d9e9ed; }
div.msg-2 { border: 2px solid #20a9c9; background: #fff; color: #20a9c9; padding: 20px; }
span.req { color: red; font-style: italic; }

div.stretch textarea { width: 795px; }


/****************************************************************************/
/*************************** HTML LINK BUTTON *******************************/
/****************************************************************************/
a.button, a.button:link, a.button:visited { padding: 5px; color: #fff; font-size: 12px; background-color: #3da4be; border: 1px solid #888888; font-weight: bold; box-shadow: 0px 1px 0px #aaaaaa; -moz-box-shadow: 0px 1px 0px #aaaaaa; -webkit-box-shadow: 0px 1px 0px #aaaaaa; text-decoration: none; display: inline-block; }
a.button:hover { background: #fff; color: #3da4be; border: 1px solid #dfdfde; }

a.button.delete, a.button.delete:link, a.button.delete:visited { color: #cb2026; background: #f6cbca; border: 1px solid #cb2026; }
a.button.delete:hover { background: #cb2026; color: #fff; border: 1px solid #fff; }

a.forgot, a.forgot:link, a.forgot:visited { font-size: 12px; font-weight: bold; text-transform: uppercase; color: #20a9c9; text-decoration: none; }
a.forget:hover { text-decoration: underline; }


/****************************************************************************/
/********************************* HEADER ***********************************/
/****************************************************************************/
.header { background: #20a9c9; border-bottom: 1px solid #fff; padding: 5px 0px; color: #ffffff; }
.header input[type=text], .header input[type=password] { width: 190px; height: 22px; border-left: 1px solid #abd0d9; border-top: 1px solid #abd0d9; border-right: 1px solid #fff; border-bottom: 1px solid #fff; }
.header label { font-weight: bold; font-size: 14px; color: #a4a4a4; position: absolute; left: 4px; top: 6px; text-transform: uppercase; cursor: text; }

.header .sign-in { padding: 4px 0px; font-size: 20px; font-weight: bold; text-transform: capitalize; }

.header a.forgot, .header a.forgot:link, .header a.forgot:visited { font-size: 10px; font-weight: bold; text-transform: uppercase; color: #fff; }
.header .remember { text-transform: uppercase; font-size: 10px; font-weight: bold; margin-top: 4px; }
.header .remember input[type=checkbox] { position: absolute; top: 0px; left: 86px; }

.header input[type=submit].button { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #ffffff; font-weight: bold; text-transform: uppercase; padding: 5px 10px; background: #115f71; cursor: pointer; }
.header input[type=submit].button:hover { color: #115f71; background: #fff; }

.header ul.right { float: right; }
.header ul.right > li { margin-left: 5px; margin-right: 0px; }
.header ul > li { float: left; margin: 10px 5px; color: #fff; font-weight: bold; padding: 10px 15px; position: relative; }
.header ul > li:hover, .header > ul > li:hover > a, .header > ul > li:hover > a:link, .header > ul > li:hover > a:visited { background: #fff; color: #20a9c9; cursor: pointer; }
.header ul > li a, .header > ul > li > a:link, .header > ul > li > a:visited { text-decoration: none; color: #ffffff; /* padding: 10px 5px; */ font-weight: bold; position: relative; display: block; margin: -10px -15px; padding: 10px 15px; }
.header ul > li > a:hover { background: #ffffff; color: #20a9c9; }

.header ul > li span.alert { position: absolute; top: -8px; right: -4px; font-weight: normal; background: red; border: 2px solid #fff; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; z-index: 10; min-width: 10px; min-height: 10px; color: #fff; font-size: 11px; padding: 2px; text-align: center; }
.header ul > li a span.alert { top: -8px; right: -4px; }

.header ul > li > ul { display: none; }
.header ul > li:hover > ul { display: block; z-index: 1000; position: absolute; border: 4px solid #fff; background: #fff; left: 0px; top: 32px; }
.header ul > li:hover > ul > li { float: none; background: #fff; width: 128px; padding: 0px; display: block; }
.header ul > li:hover > ul > li > a, .header ul > li:hover > ul > li > a:link, .header ul > li:hover > ul > li > a:visited { padding: 8px 0px 8px 10px; display: block; margin: 0px; color: #20a9c9; }
.header ul > li:hover > ul > li > a:hover { background: #20a9c9; color: #fff; }

.t-tab { -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; }


/****************************************************************************/
/****************************** SIGNUP PANEL ********************************/
/****************************************************************************/
.sign-up { border-radius: 3px -moz-border-radius: 3px; -webkit-border-radius: 3px; background: #c1dee5; margin: 15px auto; padding: 20px 0px; }
.sign-up h3 { color: #88bbc7; font-size: 22px; text-shadow: #fff 1px 1px 1px, #587980 -1px -1px 1px; }
.sign-up input[type=button].create { color: #58aabf; cursor: pointer; font-size: 14px; font-weight: bold; text-align: center; padding: 6px 20px; border: 1px solid #d3e9ee;	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0px 1px 2px rgba(0,0,0,.2); -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.2); -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.2); text-shadow: #fff 1px 1px 1px, #329cbc -1px -1px 1px; background: #d5eaef; background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(227,241,244))); background: -moz-linear-gradient(center top, rgb(255,255,255) 0%, rgb(227,241,244) 100%); }


/****************************************************************************/
/****************************** USER PANEL **********************************/
/****************************************************************************/
.user-panel { margin: 10px 0px; }
.user-panel ul li { float: left; border-left: 1px solid #ffffff; border-right: 1px solid #c0d8de; }
.user-panel ul li:first-child { border-left: none; border-top-left-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; }
.user-panel ul li:last-child { border-right: none; border-top-right-radius: 5px; border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; }
.user-panel ul li:hover, .user-panel ul li.active { background-color: #c0d8de; }
.user-panel ul li a { width: 32px; height: 24px; -moz-background-size: 24px; background-size: 24px; display: block; outline: none; text-indent: -9999px; padding: 0px 10px; }
.user-panel ul li a.home { background-image: url("images/menu/home.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.message { background-image: url("images/menu/message.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.photo { background-image: url("images/menu/photo.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.event { background-image: url("images/menu/event.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.info { background-image: url("images/menu/info.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.home-grey { background-image: url("images/menu/home_grey.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.message-grey { background-image: url("images/menu/message_grey.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.photo-grey { background-image: url("images/menu/photo_grey.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.event-grey { background-image: url("images/menu/event_grey.png"); background-position: center center; background-repeat: no-repeat; }
.user-panel ul li a.info { background-image: url("images/menu/info.png"); background-position: center center; background-repeat: no-repeat; }

.user-panel img.profile { max-width: 120px; max-height: 120px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }

.user-panel .advertisement { text-align: left; font-size: 11px; color: #4b4b4b; }
.user-panel .advertisement h1 { text-transform: uppercase; border-bottom: 1px solid #4b4b4b; font-size: 12px; color: #4b4b4b; margin-bottom: 5px; }
.user-panel .advertisement img { max-height: 92px; margin-left: 5px; float: right; }

.user-panel .user-control { margin-top: 10px; }
.user-panel .user-control h1 { font-size: 18px; color: #20a9c9; text-shadow: #4c8b9a -1px -1px -1px, #fff 1px 1px 1px; text-transform: uppercase; }
.user-panel .user-control h2 { font-size: 16px; color: #63a8b8; margin-top: 5px; }
.user-panel .user-control span.time { font-size: 12px; color: #a2a2a2; }


/****************************************************************************/
/************************* LEFT NAVIGATION **********************************/
/****************************************************************************/
.left-nav ul li { border-bottom: 1px solid #c0d8de; border-top: 1px solid #ffffff; padding-left: 5px; }
.left-nav ul li.first { border-top: none; }
.left-nav ul li.last { border-bottom: none; }
.left-nav ul li a, .left-nav ul li a:link, .left-nav ul li a:visited { text-decoration: none; font-weight: bold; color: #ffffff; display: block; padding: 10px 0px; }
.left-nav ul li:hover { background-color: #c0d8de; padding-left: 10px; }


/****************************************************************************/
/************************** PASSWORD STRENGTH *******************************/
/****************************************************************************/
#meter { color: #000; font-weight:bold; }
#meter > div { width: 33%; padding-top: 5px; padding-bottom: 5px; text-align: center; border: 0px solid transparent; margin-top: 5px; float: left; }
#meter > div.weak { border-color: #c00; background: #F7CBCA; }
#meter > div.okay { border-color: #dedede; background: #FFC; }
#meter > div.good { border-color: #349534; background: #C9FFCA; }


/****************************************************************************/
/***************************** CREATE ACCOUNT *******************************/
/****************************************************************************/
form.create label { font-weight: bold; color: #a2a2a2; font-size: 14px; }
form.create input[type=text], form.create input[type=password] { font-size: 14px; border: #20a9c9 solid 1px; width: 100%; }
form.create textarea { resize: none; }
form.create input[type=submit].create { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #ffffff; font-weight: bold; text-transform: uppercase; padding: 5px 10px; background: #115f71; cursor: pointer; font-size: 18px; }
form.create input[type=submit].create:hover { color: #115f71; background: #fff; }
form.create a.cancel, form.create a.cancel:link, form.create a.cancel:visited { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #fff; font-weight: bold; text-transform: uppercase; padding: 5px 10px; background: #115f71; cursor: pointer; font-size: 18px; text-decoration: none; }
form.create a.cancel:hover { color: #115f71; background: #fff; }
form.create .c-white label { color: #fff; }
form.create input[type=button] { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #ffffff; font-weight: bold; text-transform: uppercase; padding: 5px 10px; background: #115f71; cursor: pointer; font-size: 18px; }
form.create input[type=button]:hover { color: #115f71; background: #fff; }


/****************************************************************************/
/**************************** HOMEPAGE PROFILE ******************************/
/****************************************************************************/
.not-logged .member-bar { background: #f4f9fa; border-top: 1px solid #e3eff1; border-bottom: 1px solid #e3eff1; }
.not-logged { font-size: 12px; color: #000000; }
.not-logged a.profile, .not-logged a.profile:link, .not-logged a.profile:visited { display: block; font-size: 14px; font-weight: bold; text-decoration: none; color: #279dba; margin-bottom: 5px; }
.not-logged span.profile { color: #a2a2a2; display: block; font-size: 11px; padding-top: 5px; padding-bottom: 5px; }

.not-logged a.like, .not-logged a.like:link, .not-logged a.like:visited { color: #51b0c7; text-decoration: none; text-transform: uppercase; font-weight: bold; }
.not-logged a.like:hover { text-decoration: underline; }
.not-logged a.like img { border: 0px none transparent; margin-right: 5px; }

.not-logged a.dislike, .not-logged a.dislike:link, .not-logged a.dislike:visited { float: right; color: #cf7575; text-decoration: none; text-transform: uppercase; font-weight: bold; }
.not-logged a.dislike:hover { text-decoration: underline; }
.not-logged a.dislike img { border: 0px none transparent; margin-left: 5px; }

.not-logged a.more-like, .not-logged a.more-like:link, .not-logged a.more-like:visited { font-weight: bold; text-decoration: none; color: #3da4be; padding: 2px 5px; }
.not-logged a.more-like:hover { background: #3da4be; color: #ffffff; }
.not-logged a.more-dislike, .not-logged a.more-dislike:link, .not-logged a.more-dislike:visited { font-weight: bold; text-decoration: none; padding: 2px 5px; color: #d56667; }
.not-logged a.more-dislike:hover { background: #d56667; color: #ffffff; }


/****************************************************************************/
/******************************** FRIEND FEED *******************************/
/****************************************************************************/
.comment .options span { font-size: 12px; }
.row a.name, .row a.name:link, .row a.name:visited, .alt a.name, .alt a.name:link, .alt a.name:visited { font-size: 12px; font-style: normal; font-weight: bold; text-decoration: none; color: #20a9c9; }
.row a.like, .row a.like:link, .row a.like:visited, .alt a.like, .alt a.like:link, .alt a.like:visited, .agree a.like, .agree a.like:link, .agree a.like:visited, .disagree a.like, .disagree a.like:link, .disagree a.like:visited, .comment a.like, .comment a.like:link, .comment a.like:visited { color: #2070c9; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; background: transparent; }
.row span.like, .alt span.like, .comment span.like { color: #2070c9; font-size: 12px; background: transparent; }
.row a.dislike, .row a.dislike:link, .row a.dislike:visited, .alt a.dislike, .alt a.dislike:link, .alt a.dislike:visited, .comment a.dislike, .comment a.dislike:link, .comment a.dislike:visited { text-decoration: none; font-size: 12px; font-weight: bold; font-style: normal; text-transform: uppercase; }
.row span.dislike, .alt span.dislike, .comment span.dislike { color: #c94020; font-size: 12px; background: transparent; }
.row a.comment, .row a.comment:link, .row a.comment:visited, .alt a.comment, .alt a.comment:link, .alt a.comment:visited { color: #115f71; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; }
.row span.comment, .alt span.comment { color: #115f71; font-size: 12px; background: transparent; }
.row a.people, a.people:link, a.people:visited, .alt a.people, .alt a.people:link, .alt a.people:visited { text-decoration: none; color: #4b4b4b; }

.row .comment h1 a, .alt .comment h1 a { text-decoration: none; font-size: 24px; font-weight: bold; margin-bottom: 5px; color: #20a9c9; }

.comment .options { /* position: absolute; bottom: 10px; */ }

.row, .alt { position: relative; }
.row, .alt { font-size: 12px; }
.row .comment { background: #c0d8de; color: #747474; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; /* min-height: 80px; */ position: relative; }
.row .comment span.speak-lft { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #c0d8de transparent transparent transparent; position: absolute; left: -10px; top: 10px; }

.alt .comment { background: #b6dde7; color: #747474; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; /* min-height: 80px; */ position: relative; }
.alt .comment span.speak-lft { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #b6dde7 transparent transparent transparent; position: absolute; left: -10px; top: 10px; }

.date-tile { color: #a2a2a2; font-weight: bold; font-size: 16px; }
.date-tile span { color: #4b4b4b; }

.row .reply, .alt .reply { margin-top: 10px; }

.row .reply .comment textarea, .alt .reply .comment textarea { border: 1px solid #20a9c9; width: 100%; background: #fff; color: #000; margin-bottom: 5px; -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; resize: none; }
/* input.button { color: #fff; font-weight: bold; font-size: 13px; background: #20a9c9; border: 2px solid #fff; padding: 5px; cursor: pointer; } */


/****************************************************************************/
/******************************** FILTER ************************************/
/****************************************************************************/
.filter { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #20a9c9; padding: 5px 0px; }
.local { background: #b6dde7; color: #747474; font-size: 12px; }
a.name, a.name:link, a.name:visited { font-style: normal; font-weight: bold; text-decoration: none; color: #20a9c9; }
a.name-2, a.name-2:link, a.name-2:visited { color: #fff; font-size: 14px; font-style: normal; font-weight: bold; text-decoration: none; }
a.issue, a.issue:link, a.issue:visited { text-decoration: none; font-weight: bold; color: #fff; }
a.iss-fnt, a.iss-fnt:link, a.iss-fnt:visited { text-decoration: none; color: #20a9c9; }
a.read-more, a.read-more:link, a.read-more:visited { font-weight: bold; color: #2070c9; font-size: 10px; text-decoration: none; }
span.loc { font-style: italic; font-size: 10px; text-transform: uppercase; }
.resident { width: 16px; height: 16px; background:url("/Content/images/resident.png") center center no-repeat; display: inline-block; }
.candidate { width: 16px; height: 16px; background:url("/Content/images/candidate.png") center center no-repeat; display: inline-block; }
.politician { width: 16px; height: 16px; background:url("/Content/images/politician.png") center center no-repeat; display: inline-block; }


/****************************************************************************/
/**************************** ISSUES ****************************************/
/****************************************************************************/
.issue-create { font-size: 16px; color: #fff; text-decoration: none; font-weight: bold; }
.issue { background: #c0d8de; /* min-height: 80px; */ }
.issue h1 a { text-decoration: none; font-size: 24px; font-weight: bold; margin-bottom: 5px; color: #fff; }
.issue { font-size: 12px; margin-bottom: 5px; }
.issue a.like, .issue a.like:link, .issue a.like:visited { color: #2070c9; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; background: transparent; }
.issue a.dislike, .issue a.dislike:link, .issue a.dislike:visited { text-decoration: none; font-size: 12px; font-weight: bold; font-style: normal; text-transform: uppercase; }
.issue a.delete, .issue a.delete:link, .issue a.delete:visited, .agree a.delete, .agree a.delete:link, .agree a.delete:visited, .disagree a.delete, .disagree a.delete:link, .disagree a.delete:visited, .comment .options a.delete, .comment .options a.delete:link, .comment .options a.delete:visited { color: #DC143C; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; }
.agree a.edit, .agree a.edit:link, .agree a.edit:visited, .disagree a.edit, .disagree a.edit:link, .disagree a.edit:visited, .comment .options a.edit, .comment .options a.edit:link, .comment .options a.edit:visited { color: #115f71; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; }
/*.issue-container .issue { min-height: 120px; }*/
.issue a.name, .issue a.name:link, .issue a.name:visited, .agree a.name, .agree a.name:link, .agree a.name:visited, .disagree a.name, .disagree a.name:link, .disagree a.name:visited { font-size: 13px; font-style: normal; font-weight: bold; text-decoration: none; color: #20a9c9; }
.comment .options a.report, .comment .options a.report:link, .comment .options a.report:visited { font-size: 13px; font-style: normal; font-weight: bold; text-decoration: none; text-transform: uppercase; color: red; }
a.filter, a.filter:link, a.filter:visited { color: #fff; text-decoration: none; background: #b6dde7; padding: 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; display: block; }
a.filter:hover { background: #20a9c9; font-weight: bold; }
a.filter.like:hover { background: #2070c9; font-weight: bold; }
a.filter.dislike:hover { background: #c94020; font-weight: bold; }
a.filterSelected, a.filterSelected:link, a.filterSelected:visited { color: #fff; text-decoration: none; background: #2070c9; padding: 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; display: block; }
a.filterSelected { background: #20a9c9; font-weight: bold; }
a.filterSelected.like { background: #2070c9; font-weight: bold; }
a.filterSelected.dislike { background: #c94020; font-weight: bold; }
.filterSelected-profile img.profile { max-height: 120px; max-width: 120px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.comment { position: relative; background: #20a9c9; color: #fff; font-size: 13px; /* min-height: 120px; */ border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.comment h1 { font-size: 18px; font-style: italic; }
.comment h1 a, .comment h1 a:link, .comment h1 a:visited { color: #fff; text-decoration: none; }
.comment .speak-lft { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #20a9c9 transparent transparent transparent; position: absolute; left: -10px; top: 10px; }

.stats { background: #b6dde7; color: #4b4b4b; /* min-height: 120px; */ border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.stats h4 { color: #fff; font-size: 16px; }

.agree .comment { color: #fff; position: relative; background: #426da6; /* min-height: 120px; */ border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.agree .comment .speak-lft { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #426da6 transparent transparent transparent; position: absolute; left: -10px; top: 10px; }
.disagree .comment { color: #fff; position: relative; background: #F08080; /* min-height: 120px; */ border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.disagree .speak-rgt { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #F08080 transparent transparent transparent; position: absolute; right: -10px; top: 10px; }

/* .agree img.profile, .disagree img.profile { max-height: 120px; max-width: 120px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; } */

.agree .options, .disagree .options { /* position: absolute; bottom: 10px; */ }
.agree .options a.dislike, .agree .options a.dislike:link, .agree .options a.dislike:visited, .disagree .options a.dislike, .disagree .options a.dislike:link, .disagree .options a.dislike:visited { text-decoration: none; font-size: 12px; font-weight: bold; font-style: normal; text-transform: uppercase; }


input[type=submit].button, input[type=button].button { font-size: 12px; font-weight: bold; color: #fff; padding: 5px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; cursor: pointer; background: #20a9c9 }
input[type=submit].button:hover, input[type=button].button:hover { color: #20a9c9; background: #fff; }

a.issue-report, a.issue-report:link, a.issue-report:visited { width: 16px; height: 16px; display: block; border: 0px none transparent; text-decoration: none; background:url("/Content/images/report.png") center center no-repeat; outline: none; text-indent: -9999px; }


/****************************************************************************/
/******************************* EVENTS *************************************/
/****************************************************************************/
.events .row { background: #c0d8de; }
.events .alt { background: #b6dde7; }
.events a.delete, .events a.delete:link, .events a.delete:visited { color: #DC143C; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; }

.events div.create { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #20a9c9; padding: 5px 0px; }


/****************************************************************************/
/******************************** MESSAGES **********************************/
/****************************************************************************/
.mail { border-bottom: 1px solid #a2a2a2; }
.mail.new { background-color: #00bce0; }
.mail a, .mail a:link, .mail a:visited { text-decoration: none; color: #3B5998; font-weight: bold; }
.mail a:hover { text-decoration: underline; }
.action-bar { background: #f2f2f2; border-top: 1px solid #cccccc; }
.action-bar input[type=submit].btn { padding: 5px; color: #333333; font-size: 12px; background-color: #dddddd; border: 1px solid #888888; font-weight: bold; box-shadow: 0px 1px 0px #aaaaaa; -moz-box-shadow: 0px 1px 0px #aaaaaa; -webkit-box-shadow: 0px 1px 0px #aaaaaa; }
.action-bar input[type=submit].btn:hover { cursor: pointer; background: #f6cbca; color: #d02327; border: 1px solid #cb2026; }
input[type=submit].submit { font-size: 12px; font-weight: bold; color: #fff; padding: 5px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; cursor: pointer; background: #20a9c9 }
input[type=submit].submit:hover { color: #20a9c9; background: #fff; }
.action-bar a.btn { padding: 5px; color: #333333; font-size: 12px; background-color: #dddddd; border: 1px solid #888888; font-weight: bold; box-shadow: 0px 1px 0px #aaaaaa; -moz-box-shadow: 0px 1px 0px #aaaaaa; -webkit-box-shadow: 0px 1px 0px #aaaaaa; text-decoration: none; }
.action-bar a.btn:hover { background: #fcf9ce; color: #43423c; border: 1px solid #dfdfde; }


/****************************************************************************/
/******************************** FRIEND ***************************************/
/****************************************************************************/
.friend.alt { background: #b6dde7; }
.friend div.profile { width: 120px; height: 120px; margin: 0px auto; position: relative; }
.friend img.profile { max-height: 120px; max-width: 120px; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
/*.friends .friend div.name { position: absolute; bottom: 5; width: 100%; } */
.friend a.name, .friend a.name:link, .friend a.name:visited { color: #20a9c9; font-size: 14px; font-style: normal; font-weight: bold; text-decoration: none; }
.friend a.delete, .friend a.delete:link, .friend a.delete:visited { position: absolute; top: 0px; right: 0px; width: 24px; height: 24px; background:url("/Content/images/delete.png") no-repeat; z-index: 20px; text-indent: -9999px; outline: none; display: none; }


/****************************************************************************/
/********************************** PHOTOS **********************************/
/****************************************************************************/
.gallery.alt { background: #b6dde7; }
.gallery .image { width: 120px; height: 120px; margin: 0px auto; }
.gallery .image img { max-height: 120px; max-width: 120px; }
.gallery .image a { border: 0px none transparent; }
.gallery a, .gallery a:link, .gallery a:visited { color: #20a9c9; font-size: 14px; font-style: normal; font-weight: bold; text-decoration: none; }
.large-photo img { max-width: 840px; }

/** ALBUMS */
ul.photo-album li { float: left; margin: 5px; background: #20A9C9; position: relative; color: #fff; text-align: center; font-weight: bold; font-size: 12px; min-width: 110px; min-height: 110px; }
ul.photo-album li a.album, ul.photo-album li a.album:link, ul.photo-album li a.album:visited { display: block; text-decoration: none; color: #fff; }
ul.photo-album li a.album:hover { }
ul.photo-album li a img { border: 0px none transparent; max-width: 90px; max-height: 90px; }
ul.photo-album li a.edit { position: absolute; top: 0px; right: 24px; width: 24px; height: 24px; background:url("/Content/images/edit.gif") no-repeat; z-index: 10px; text-indent: -9999px; outline: none; display: none; }
ul.photo-album li a.delete { position: absolute; top: 0px; right: 0px; width: 24px; height: 24px; background:url("/Content/images/delete.png") no-repeat; z-index: 20px; text-indent: -9999px; outline: none; display: none; }
ul.photo-album li a.create { width: 110px; height: 110px; text-indent: -9999px; outline: none; background:url("/Content/images/create-album.png") no-repeat center center; display: block; background-size: 100px; -moz-background-size: 100px; }

.background-popup { background: #000; }
.popup { display: none; position: fixed; background: #fff; z-index: 10; padding: 10px; }


/****************************************************************************/
/***************************** NOTIFICATIONS ********************************/
/****************************************************************************/
.notification { text-align: center; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #20a9c9; }
.notification a, .notification a:link, .notification a:visited { font-weight: bold; color: #fff; display: block; padding: 10px 5px; text-decoration: none; }
.notification a:hover { text-decoration: underline; }


/****************************************************************************/
/************************* BOARD IMAGE **************************************/
/****************************************************************************/
.board-image .user-info { background: #c0d8de; color: #ffffff; height: 200px; font-style: italic; position: relative; }
.board-image .user-info a.name, .photos .user-info a.name:link, .photos .user-info a.name:visited { font-size: 14px; font-style: normal; font-weight: bold; text-decoration: none; color: #20a9c9; display: block; }
.board-image .user-info h1 { font-size: 22px; font-style: italic; margin-top: 10px; color: #63a8b8; }
.board-image .user-info .link { position: absolute; bottom: 5px; font-weight: bold; }
.board-image .user-info .link a, .photos .user-info .link a:link, .photos .user-info .link a:visited { font-size: 12px; font-style: normal; text-decoration: none; text-transform: uppercase; }

.board-image .user-info .link a.like, .photos .user-info .link a.like:link, .photos .user-info .link a.like:visited { color: #51b0c7; }
.board-image .user-info .link a.comment, .photos .user-info .link a.comment:link, .photos .user-info .link a.comment:visited { color: #115f71; background: transparent; }

.board-image .photo { height: 200px; text-indent: -9999px; background-size: 200px; }

.board-image .date-tile { height: 200px; background: #c0d8de; position: relative; }
.board-image .date-tile .padding-5 { font-size: 16px; padding: 5px; position: absolute; bottom: 0; font-weight: bold; color: #a2a2a2; }
.board-image .date-tile .padding-5 span { color: #4b4b4b; }

.board-row { background: #c0d8de; color: #747474; position: relative; }
.board-alt { background: #b6dde7; color: #747474; position: relative; }
.board-row a.name, .board-row a.name:link, .board-row a.name:visited, .board-alt a.name, .board-alt a.name:link, .board-alt a.name:visited { font-size: 14px; font-style: normal; font-weight: bold; text-decoration: none; color: #20a9c9; }
.board-row a.like, .board-row a.like:link, .board-row a.like:visited, .board-alt a.like, .board-alt a.like:link, .board-alt a.like:visited { color: #2070c9; text-decoration: none; font-weight: bold; font-size: 12px; font-style: normal; text-transform: uppercase; background: transparent; }
.board-row span.like, .board-alt span.like { color: #2070c9; font-size: 12px; background: transparent; }
.board-row a.dislike, .board-row a.dislike:link, .board-row a.dislike:visited, .board-alt a.dislike, .board-alt a.dislike:link, .board-alt a.dislike:visited { text-decoration: none; font-size: 12px; font-weight: bold; font-style: normal; text-transform: uppercase; }


/****************************************************************************/
/************************* BOARD REPLY **************************************/
/****************************************************************************/
.board-reply textarea { resize: none; width: 465px; /* height: 80px; */ font-size: 12px; color: #000; }
.board-reply input[type=submit] { padding: 5px; color: #ffffff; font-size: 12px; background-color: #20a9c9; border: 1px solid #ffffff; font-weight: bold; box-shadow: 0px 1px 0px #aaaaaa; -moz-box-shadow: 0px 1px 0px #aaaaaa; -webkit-box-shadow: 0px 1px 0px #aaaaaa; }
.board-reply input[type=submit]:hover { color: #20a9c9; background: #fff; border-color: #20a9c9; cursor: pointer; }

.post { display: none; }


/****************************************************************************/
/***************************** ISSUE ****************************************/
/****************************************************************************/
/*
.issue a.name, .issue a.name:link, .issue a.name:visited { font-size: 13px; font-style: normal; font-weight: bold; text-decoration: none; color: #20a9c9; }
.issue a.filter, .issue a.filter:link, .issue a.filter:visited { color: #fff; text-decoration: none; background: #b6dde7; padding: 5px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; display: block; }
.issue a.filter:hover { background: #20a9c9; font-weight: bold; }
.issue a.filter.like:hover { background: #2070c9; font-weight: bold; }
.issue a.filter.dislike:hover { background: #c94020; font-weight: bold; }

.issue .stats { background: #b6dde7; color: #4b4b4b; min-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.issue .stats h4 { color: #fff; font-size: 16px; }
.issue .date-tile { color: #a2a2a2; font-weight: bold; font-size: 16px; min-height: 120px; background: #c0d8de; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.issue .date-tile span { color: #4b4b4b; }

.issue .comment { position: relative; background: #20a9c9; color: #fff; font-size: 13px; min-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.issue .comment h1 { font-size: 18px; font-style: italic; }
.issue .comment .speak-lft { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #20a9c9 transparent transparent transparent; position: absolute; left: -10px; top: 30px; }

.issue .agree .comment { color: #fff; position: relative; background: #4271a6; min-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.issue .agree .comment .speak-lft { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #4271a6 transparent transparent transparent; position: absolute; left: -10px; top: 30px; }
.issue .disagree .comment { color: #fff; position: relative; background: #e03108; min-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.issue .disagree .speak-rgt { width: 0px; height: 0px; border-width: 10px; border-style: solid; border-color: #e03108 transparent transparent transparent; position: absolute; right: -10px; top: 30px; }
*/


/****************************************************************************/
/************************* BECOME A FAN *************************************/
/****************************************************************************/
h4 { color: #82999f; font-size: 16px; font-weight: normal; margin-bottom: 4px; }
h6 { color: #63a8b8; font-size: 16px; text-shadow: #4c8b9a -1px -1px 1px, #fff 1px 1px 1px; }

.round-3 { border-radius: 3px -moz-border-radius: 3px; -webkit-border-radius: 3px; background: #c1dee5; }
a.msg { width: 300px; color: #fff; display: block; background: #a6cdd7; text-align: center; text-decoration: none; border-radius: 3px; -moz-border-radius: 3px -webkit-border-radius: 3px; }

input[type=submit].fan { width: 100%; color: #63a8b8; cursor: pointer; font-size: 18px; font-weight: bold; border: 1px solid transparent; border-style: solid; border-size: 1px 1px 1px 1px; border-color: #fff transparent #abd3dd #fff; text-shadow: #4c8b9a -1px -1px 1px, #fff 1px 1px 1px; padding: 8px 16px 8px 50px; border-radius: 4px -moz-border-radius: 4px; -webkit-border-radius: 4px; background: url("images/star.png") no-repeat 20px 6px #d5eaef; background: url("images/star.png") no-repeat 20px 6px, -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(227,241,244))); background: url("images/star.png") no-repeat 20px 6px, -moz-linear-gradient(center top, rgb(255,255,255) 0%, rgb(227,241,244) 100%) url("images/star.png") no-repeat 20px 6px; }


/****************************************************************************/
/******************************* USER EDIT **********************************/
/****************************************************************************/
.profile .details { color: #64a2b1; }
/* .profile { color: #406872; font-size: 12px; line-height: 1.25; border-right: 1px solid #c0d8de; } */
.form { /* border-left: 1px solid #e6f3f6; */ color: #88b4bf; font-size: 12px; }
.form input[type=text], .form input[type=password] { border: 1px solid #c1dee5; font-size: 14px; width: 200px; }
.form textarea { border: 1px solid #c1dee5; font-size: 14px; width: 250px; resize: none; }
.form label { display: block; font-size: 16px; color: #66a4b3; }
.form img { margin : 7px; }
.form .no-margin img { margin: 0px; }

ul.tabs { display: block; }
ul.tabs li { float: left; }
ul.tabs li a, ul.tabs li a:link, ul.tabs li a:visited { color: #fff; display: block; background: #cfe3e8; padding: 8px; text-decoration: none; }
ul.tabs li a:hover, ul.tabs li a.active { background: #c1dee5; }


/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
.events .title { padding: 5px 0px; text-align: center; text-transform: uppercase; font-weight: bold; color: #ffffff; background: #a0cfdB; }
.events .prev, .events .next { height: 110px; background: #c0d8de; }
.events .prev span, .events .next span { color: #a2a2a2; float: right; margin-top: 5px; margin-right: 5px; font-size: 24px; }
.events .curr { height: 110px; background: #20a9c9; }
.events .curr span { color: #ffffff; float: right; margin-top: 5px; margin-right: 5px; font-size: 24px; }

.photos .user-info { background: #c0d8de; color: #ffffff; height: 200px; font-style: italic; position: relative; }
.photos .user-info .padding-5 { padding: 5px; }
.photos .user-info a.name, .photos .user-info a.name:link, .photos .user-info a.name:visited { font-size: 14px; font-style: normal; font-weight: bold; text-decoration: none; color: #20a9c9; display: block; }
.photos .user-info h1 { font-size: 22px; font-style: italic; margin-top: 10px; color: #63a8b8; }
.photos .user-info .link { position: absolute; bottom: 5; font-weight: bold; }
.photos .user-info .link a, .photos .user-info .link a:link, .photos .user-info .link a:visited { font-size: 12px; font-style: normal; text-decoration: none; text-transform: uppercase; }

.photos .user-info .link a.like, .photos .user-info .link a.like:link, .photos .user-info .link a.like:visited { color: #51b0c7; }
.photos .user-info .link a.comment, .photos .user-info .link a.comment:link, .photos .user-info .link a.comment:visited { color: #115f71; }

.photos .photo { height: 200px; text-indent: -9999px; background-size: 200px; }

.photos .date-tile { height: 200px; background: #c0d8de; position: relative; }
.photos .date-tile .padding-5 { font-size: 16px; padding: 5px; position: absolute; bottom: 0; font-weight: bold; color: #a2a2a2; }
.photos .date-tile .padding-5 span { color: #4b4b4b; }


.friends img.profile { max-width: 120px; max-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.friends .alt { background: #b6dde7; }
.friends .friend div.profile { width: 120px; height: 120px; margin: 0px auto; }
/*.friends .friend div.name { position: absolute; bottom: 5; width: 100%; } */
.friends a.name, .friends a.name:link, .friends a.name:visited { color: #20a9c9; font-size: 14px; font-style: normal; font-weight: bold; text-decoration: none; }

.message img.profile { max-width: 120px; max-height: 120px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.message .subject a { font-size: 18px; color: #a2a2a2; text-decoration: none; }
.message .date-tile { font-size: 16px; font-weight: bold; color: #a2a2a2; }
.message .date-tile span { color: #4b4b4b; }
.message .body { font-size: 12px; color: #3b3b3b; }

.sub-main { color: #ffffff; background: #99bcc5; }
.sub-main h5 { padding: 0px; color: #5d828b; font-size: 14px; font-weight: normal; margin: 0px 0px 10px 0px; }
.sub-main h5.popular { padding-left: 23px; background: url("images/popular.png") 0px 2px no-repeat; }
.sub-main h5.recent-comment { padding-left: 23px; background: url("images/comment.png") 0px 2px no-repeat; }

ul.bullet { padding-left: 14px; list-style-position: outside; }
ul.bullet li { list-style: disc; padding-top: 5px; padding-bottom: 5px; }

.footer-wrpr { background: #20a9c9; }
.footer { color: #fff; /* color: #849fa5; */ font-size: 12px; margin-bottom: 20px; }
.footer a, .footer a:link, .footer a:visited { color: #fff; font-size: 12px; text-decoration: none; }
.footer a:hover { text-decoration: underline; }

/* Advertisement */
.iab-leaderboard { width: 728px; margin: 0px auto; }