/***** RESET *****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/***** UNDO HTML *****/
:link, :visited { text-decoration: none; }
ul, ol { list-style: none; }
h1, h2, h3, h4, h5, h6, pre, code, p { font-size: 1em; }
ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { padding: 0; margin: 0; }
a img, :link img, :visited img { border: none; }
address { font-style: normal; }

/***** HTML5 Display Role *****/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/***** LESS FRAMEWORK *****/
/*** Typography presets ***/
.gigantic { font-size: 110px; line-height: 120px; letter-spacing: -2px; }
.huge, h1 { font-size: 68px; line-height: 72px; letter-spacing: -1px; }
.large, h2 { font-size: 42px; line-height: 48px; }
.big, h3 { font-size: 26px; line-height: 36px; }
.normal, body { font: 16px/24px Helvetica, Arial, sans-serif; }
.small { font-size: 13px; line-height: 18px; }
.tiny { font-size: 9px; }

/***** 1140 FRAMEWORK *****/
.container { padding-left: 20px; padding-right: 20px; background: url("images/bg.png") repeat-x; }
.row { width: 100%; max-width: 1140px; min-width: 755px; margin: 0 auto; /*** CHANGES-- overflow: hidden; ***/ overflow: visible; float: left; }
.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven { margin-right: 3.8%; float: left; min-height: 1px; }

.row .one { width: 4.85%; }
.row .two { width: 13.45%; }
.row .three { width: 22.05%; }
.row .four { width: 30.75%; }
.row .five { width: 39.45%; }
.row .six { width: 48%; }
.row .seven { width: 56.75%; }
.row .eight { width: 65.4%; }
.row .ninec { width: 74.05%; }
.row .ten { width: 82.7%; }
.row .eleven { width: 91.35%; }
.row .twelve { width: 100%; float: left; }

.last { margin-right: 0px; }

img, object, embed { max-width: 100%; }

img { height: auto; }

/***** Clear Fix *****/
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }

/**** Site Styles ****/
html { height: 100%; }
body { background: url("images/eagle.png") no-repeat bottom left fixed; }

/*** HEADER ***/
header { padding: 36px 0px 23px 0px; border-bottom: 1px solid #c3c3c3; margin-bottom: 39px; }
header .login { float: right; font-size: 12px; }
header .login .input { width: 166px; margin-right: 20px; float: left; }
header .login .input.half { width: 66px; margin-right: 0px; }

header .login .s-row { height: 25px; }

header .login label { color: #971e21; cursor: pointer; }
header .login input[type=checkbox] { margin-right: 7px; }
header .login input[type=text], header .login input[type=password] { border: 1px solid #971e21; width: 164px; height: 23px; outline: none; }

header .login a, header .login a:link, header .login a:visited { color: #595959; }
header .login a:hover { text-decoration: underline; }

header div.profile { float: left; font-size: 12px; vertical-align: middle; margin-right: 32px; }
header div.profile a, header div.profile a:link, header div.profile a:visited { color: #ce9091; }
header div.profile a:hover { text-decoration: underline; }
header div.profile img { vertical-align: middle; }

header ul.nav { float: left; }
header ul.nav li { float: left; padding-right: 32px; position: relative; }
header ul.nav li:last-child { padding-right: 17px; }
header ul.nav li>a, header ul.nav li>a:link, header ul.nav li>a:visited { font-size: 12px; font-weight: bold; color: #fff; }
header ul.nav li a.mail { width: 28px; height: 19px; background:url(images/mail.png) no-repeat center bottom; text-indent: -9999px; outline: none; display: block; }
header ul.nav li.has-sub { background:url(images/arrow-down.png) no-repeat 46px 12px; }
header ul.nav li.mail span { background:url(images/star-red.png) no-repeat -1px 3px; width: 19px; height: 21px; text-align: center; position: absolute; font-size: 10px; top: -8px; right: 19px; }
header ul.nav li.friend span { background:url(images/star-green.png) no-repeat -1px 3px; width: 19px; height: 21px; text-align: center; position: absolute; font-size: 10px; top: -8px; right: 18px; }
header ul.nav li div.sub-nav { border: 1px solid #971e21; padding: 13px 14px; background: #fff; font-size: 12px; display: none; position: absolute; min-width: 148px; z-index: 1000; }
header ul.nav li div.sub-nav a, header ul.nav li div.sub-nav a:link, header ul.nav li div.sub-nav a:visited { color: #971e21; display: block; }
header ul.nav li div.sub-nav a:hover { text-decoration: underline; }

header ul.nav li:hover div.sub-nav { display: block; }


/*** FOOTER ***/
footer { color: #7d7d7d; font-size: 11px; padding-top: 12px; border-top: 1px solid #c3c3c3; margin-top: 47px; }
footer a, footer a:link, footer a:visited { color: #7d7d7d; text-decoration: none; }
footer a:hover { text-decoration: underline; }


/*** BUTTONS ***/
.btn { color: #fff; padding: 4px 16px; background: -moz-linear-gradient(top, #e02026 0%, #be040a); background: -webkit-gradient(linear, left top, left bottom, from(#e02026), to(#be040a)); border: 1px solid #971e20; box-shadow: #f6bdb3 0px 1px 0px 0px inset; -moz-box-shadow: rgba(246,189,190,1) 0px 1px 0px 0px inset; -webkit-box-shadow: rgba(246,189,190,1) 0px 1px 0px 0px inset; cursor: pointer; }
.btn.blue { border: 1px solid #385b97; background: -moz-linear-gradient(top, #3e78d5 0%, #245ab6); background: -webkit-gradient(linear, left top, left bottom, from(#3e78d5), to(#245ab6)); box-shadow: #c6d7f3 0px 1px 0px 0px inset; -moz-box-shadow: rgba(198,215,243,1) 0px 1px 0px 0px inset; -webkit-box-shadow: rgba(198,215,243,1) 0px 1px 0px 0px inset; }
.btn.teal { border: 1px solid #1e8597; background: -moz-linear-gradient(top, #20c5e0 0%, #02a1bc); background: -webkit-gradient(linear, left top, left bottom, from(#20c5e0), to(#02a1bc)); box-shadow: #bdedf6 0px 1px 0px 0px inset; -moz-box-shadow: rgba(189,237,246,1) 0px 1px 0px 0px inset; -webkit-box-shadow: rgba(189,237,246,1) 0px 1px 0px 0px inset; }
.btn.site { border: 1px solid #336a82; background: -moz-linear-gradient(top, #4895b8 0%, #37728c); background: -webkit-gradient(linear, left top, left bottom, from(#4895b8), to(#37728c)); box-shadow: #c9e0ea 0px 1px 0px 0px inset; -moz-box-shadow: rgba(201,224,234,1) 0px 1px 0px 0px inset; -webkit-box-shadow: rgba(201,224,234,1) 0px 1px 0px 0px inset; }
.btn.mail {
	padding-left: 36px;
	border: 1px solid #975d1e;
	background: url(images/read-mail.png) no-repeat 10px 50%, -moz-linear-gradient(top, #e08320 0%, #be6504);
	background: url(images/read-mail.png) no-repeat 10px 50%, -webkit-gradient(linear, left top, left bottom, from(#e08320), to(#be6504));
	box-shadow: #f6dbbd 0px 1px 0px 0px inset;
	-moz-box-shadow: rgba(246,219,189,1) 0px 1px 0px 0px inset;
	-webkit-box-shadow: rgba(246,219,189,1) 0px 1px 0px 0px inset ;
}

.tshade { text-shadow: #0d5b68 0px 1px 0px; }


/*** MARGINS ***/
.mt-6 { margin-top: -6px; }
.mt-11 { margin-top: -11px; }
.mt6 { margin-top: 6px; }
.mt13 { margin-top: 13px; }
.mt23 { margin-top: 23px; }
.mt25 { margin-top: 25px; }
.mt31 { margin-top: 31px; }
.mt34 { margin-top: 34px; }
.mt50 { margin-top: 50px; }

.mr5 { margin-right: 5px; }
.mr9 { margin-right: 9px; }
.mr10 { margin-right: 10px; }
.mr11 { margin-right: 11px; }
.mr13 { margin-right: 13px; }
.mr14 { margin-right: 14px; }
.mr17 { margin-right: 17px; }
.mr20 { margin-right: 20px; }
.mr21 { margin-right: 21px; }
.mr22 { margin-right: 22px; }
.mr23 { margin-right: 23px; }
.mr26 { margin-right: 26px; }
.mr44 { margin-right: 44px; }

.mb15 { margin-bottom: 15px; }
.mb25 { margin-bottom: 25px; }
.mb32 { margin-bottom: 32px; }
.mb34 { margin-bottom: 34px; }
.mb40 { margin-bottom: 40px; }
.mb42 { margin-bottom: 42px; }
.mb50 { margin-bottom: 50px; }
.mb72 { margin-bottom: 72px; }

.ml10 { margin-left: 10px; }
.ml116 { margin-left: 116px; }
.ml190 { margin-left: 190px; }
.ml200 { margin-left: 200px; }


/*** PADDING ***/
.pt3 { padding-top: 3px; }
.pt7 { padding-top: 7px; }
.pt14 { padding-top: 14px; }
.pt18 { padding-top: 18px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }

.plr13 { padding-left: 13px; padding-right: 13px; }

.pl23 { padding-left: 23px; }

.pb36 { padding-bottom: 36px; }

/*** JUSTIFY ***/
.flft { float: left; }
.frgt { float: right; }
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.bold { font-weight: bold; }


/*** TEXT COLOR ****/
.red { color: #971e21; }
.gold { color: #ab9075; }
.gray { color: #999999; }
.black { color: #2a2a2a; }
.lightgray { color: #b4b4b4; }
.darkgray { color: #787878; }
.msg-gray { color: #6f6f6f; }
.teal { color: #3e7c97; }


/*** FONT STYLE ***/
.nrm { font-weight: normal; }
.bld { font-weight: bold; }

/*** WIDTH ***/
.w60 { width: 60px; }
.w392 { width: 392px; }
.w600 { width: 600px; }
.wp5 { width: 5%; }
.wp10 { width: 10%; }
.wp15 { width: 15%; }
.wp20 { width: 20%; }
.wp25 { width: 25%; }
.wp30 { width: 30%; }
.wp40 { width: 40%; }
.wp69 { width: 69%; }
.wp70 { width: 70%; }
.wp80 { width: 80%; }
.wp90 { width: 90%; }
.wp100 { width: 100%; }

.w227 { width: 227px; }

.max-w207 { max-width: 207px; }
.max-w240 { max-width: 240px; }
.max-w590 { max-width: 590px; }

/* #cdcdcd

/*** SEARCH ***/
div.search { border-style: solid; border-width: 1px; border-color: #a5a5a5 #ffffff #ffffff #a5a5a5; background: #ffffff; min-height: 27px; }
div.search input[type=text] { margin: 0px; border: 0px; width: 227px; color: Gray; font-style: italic  }
div.search div.select { background: #ffffff url(images/arrow-down-gray.png) no-repeat 29px 11px; min-width: 43px; max-width: 45px; position: absolute; top: 9px; right: 16px; z-index: 1; min-height: 31px; }
div.search div.select a.search, div.search div.select a.search:link, div.search div.select a.search:visited { display: inline-block; width: 18px; height: 17px; background:url(images/search.png) no-repeat center center; text-indent: -9999px; margin: 3px 5px; }

div.search div.select ul.options { margin: 7px auto 0px auto; width: 24px; display: none; }
div.search div.select ul.options li { margin-bottom: 10px; }
div.search div.select ul.options li.active-filter { background: #e5e5e5; }

div.search div.select a.all, div.search div.select a.all:link, div.search div.select a.all:visited { display: inline-block; text-indent: -9999px; background:url(images/red-star.png) no-repeat center center; width: 24px; height: 20px; }
div.search div.select a.people, div.search div.select a.people:link, div.search div.select a.people:visited { display: inline-block; text-indent: -9999px; background:url(images/all.png) no-repeat center center; width: 24px; height: 20px; }
div.search div.select a.professor, div.search div.select a.professor:link, div.search div.select a.professor:visited { display: inline-block; text-indent: -9999px; background:url(images/person.png) no-repeat center center; width: 24px; height: 20px; }
div.search div.select a.case, div.search div.select a.case:link, div.search div.select a.case:visited { display: inline-block; text-indent: -9999px; background:url(images/case.png) no-repeat center center; width: 24px; height: 20px; }
div.search div.select a.cal, div.search div.select a.cal:link, div.search div.select a.cal:visited { display: inline-block; text-indent: -9999px; background:url(images/event.png) no-repeat center center; width: 24px; height: 20px; }
div.search div.select a.text, div.search div.select a.text:link, div.search div.select a.text:visited { display: inline-block; text-indent: -9999px; background:url(images/book.png) no-repeat center center; width: 24px; height: 20px; }
div.search div.select a.paper, div.search div.select a.paper:link, div.search div.select a.paper:link { display: inline-block; text-indent: -9999px; background:url(images/paper.png) no-repeat center center; width: 24px; height: 20px; }
div.search div.select a.org, div.search div.select a.org:link, div.search div.select a.org:visited { display: inline-block; text-indent: -9999px; background:url(images/organization.png) no-repeat center center; width: 24px; height: 20px; }

/*** TABS ***/
div.tabs { border-bottom: 4px solid #3e7c97; }
div.tabs ul { display: inline; }
div.tabs ul li {display: inline; margin-right: 5px; }
div.tabs ul li a, div.tabs ul li a:link, div.tabs ul li a:visited { color: #fff; background: #a8a8a8; display: inline-block; text-transform: uppercase; padding: 9px 12px; }
div.tabs ul li.active a, div.tabs ul li.active a:link, div.tabs ul li.active a:visited { background: #3e7c97; }


/*** PAGE BANNERS ***/
.banner.red-top { border-top: 5px solid #971e21; }

.banner { padding: 8px 15px; background: #3e7c97; color: #fff; position: relative; margin-bottom: 15px; float: left; }
.corner { height: 0px; width: 0px; border-style: solid; border-width: 15px; border-color: transparent #125a79 transparent transparent; position: absolute; left: -15px; bottom: -15px; z-index: -1; }

.banner.mb72 { margin-bottom: 72px; }
.banner.full { float: none; }
.banner.title { font-size: 13px; float: none; margin-bottom: 0px; }

.banner.red { background: #971e21; }
.banner.red .corner { border-color: transparent #6e0003 transparent transparent; }

.banner.black { background: #2b2b2b; }

.banner .corner.right { left: auto; right: -15px; border-color: transparent transparent transparent #6e0003; }
.banner.red .corner.right { left: auto; right: -15px; border-color: transparent transparent transparent #6e0003; }

.banner.red .special-corner { background: #6e0003; width: 15px; height: 5px; position: absolute; bottom: -5px; left: 0px; }

.banner input[type=search] { width: 100%; border-width: 1px; border-style: solid; border-color: #125a79 #fff #fff #125a79; outline: none; color: #125a79; }

.banner .buttons { float: right; }
.banner .buttons a.question { width: 16px; height: 16px; display: inline-block; background:url(images/question.png) no-repeat center center; text-indent: -9999px; outline: none; }
.banner .buttons a.deny { width: 16px; height: 16px; display: inline-block; background:url(images/cancel.png) no-repeat center center; text-indent: -9999px; outline: none; }

.banner input[type=text] { padding: 4px 6px; color: #606060; min-width: 235px; max-width: 237px; border-width: 1px; border-style: solid; border-color: #a5a5a5 #FFF #FFF #a5a5a5; outline: none; }

/*** BANNER BOX ***/
.box { background: #f2f2f2; padding: 15px 16px; font-size: 13px; margin-bottom: 27px; }
.box img { vertical-align: middle; }
.box.date { color: #6d6d6d; font-size: 16px; }
.box.date img { margin-right: 12px; }
.box.member { padding-left: 0px; }
.box.member img { margin: 0px 0px 12px 8%; max-height: 50px; max-width: 50px; }
.box.group { background: #eaeae2; }
.box.sm { padding: 14px 6px; }
.box.table { display: table; }

.box.table div.cell { display: table-cell; }

.box label { color: #818181; }
.box.spec { padding: 0px; }

span.name { display: block; font-size: 14px; color: #262626; }

/*** BANNER BOX ELEMENT ***/
.match { background: #3e7c97; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; color: #fff; position: relative; margin-bottom: 20px; padding: 5px 15px; font-size: 13px; }
.match img { margin-right: 19px; vertical-align: middle; float: left; }
.match span.name { display: block; }
.match a.close, .match a.close:link, .match a.close:visited { width: 8px; height: 8px; display: block; background:url(images/close.png) no-repeat; position: absolute; top: 8px; right: 23px; text-indent: -9999px; outline: none; }
.match span.arrow { width: 0px; height: 0px; border-width: 16px; border-style: solid; border-color: #3e7c97 transparent transparent transparent; position: absolute; bottom: -32px; left: 22px; }


ul.notification {}
ul.notification li { padding-left: 25px; }
ul.notification li.friend { background:url(images/friend.png) no-repeat left center; }
ul.notification li.post { background:url(images/bubble.png) no-repeat left center; }
ul.notification li.beer { background:url(images/beer.png) no-repeat left center; }

ul.notification li a, ul.notification li a:link, ul.notification li a:visited { color: #3e7c97; }
ul.notification li a:visited { text-decoration: underline; }

ul.notification li span.time { color: #a4a4a4; display: block; font-size: 10px; margin-top: -14px; }

ul.members {}
ul.members li { width: 166px; margin: 4px; background: #f3f3f0; color: #6d6d6d; font-size: 12px; float: left; padding: 4px; }

ul.friend-list {}
ul.friend-list li { max-width: 259px; width: 30%; float: left; margin-bottom: 5%; margin-left: 1%; margin-right: 1%; }
ul.friend-list li div { padding: 9px 14px; background: #f3f3f0; color: #6d6d6d; font-size: 12px; }
ul.friend-list li:nth-child(3n+2) { margin-left: 1%; margin-right: 1%; }


/*** BANNER BUTTONS ***/
span.album { padding: 2px 0px 2px 28px; background:url(images/photo.png) no-repeat center left; text-transform: uppercase; }
span.album span.user { color: #bcbcbc; text-transform: none; font-size: 11px; }
span.edit { padding: 2px 0px 2px 28px; background:url(images/wrench.png) no-repeat center left; text-transform: uppercase; }
span.mine { padding: 2px 0px 2px 28px; background:url(images/self.png) no-repeat center left; text-transform: uppercase; }
span.class { padding: 2px 0px 2px 28px; background:url(images/case.png) no-repeat center left; text-transform: uppercase; }
span.club { padding: 2px 0px 2px 28px; background:url(images/organization.png) no-repeat center left; text-transform: uppercase; }
span.event { padding: 2px 0px 2px 28px; background:url(images/event.png) no-repeat center left; text-transform: uppercase; }
span.prof { padding: 2px 0px 2px 28px; background:url(images/person.png) no-repeat center left; text-transform: uppercase; }
span.post { padding: 2px 0px 2px 28px; background:url(images/paper.png) no-repeat center left; text-transform: uppercase; }
span.post span.user { color: #bcbcbc; text-transform: none; font-size: 11px; }
span.book { padding: 2px 0px 2px 28px; background:url(images/book.png) no-repeat center left; text-transform: uppercase; }

span.reply { padding-left: 25px; background:url(images/reply.png) no-repeat center left; font-size: 14px; display: block; margin-bottom: 7px; font-size: 14px; color: #6f6f6f; }

a.edit, a.edit:link, a.edit:visited { padding: 2px 0px 2px 26px; background:url(images/wrench.png) no-repeat center left; text-decoration: underline; color: #fff; }
a.remove, a.remove:link, a.remove:visited { padding: 2px 0px 2px 26px; background:url(images/remove.png) no-repeat center left; text-decoration: underline; color: #fff; }
a.add, a.add:link, a.add:visited { padding: 2px 0px 2px 26px; background:url(images/plus.png) no-repeat center left; text-decoration: underline; color: #fff; }
a.create, a.create:link, a.create:visited { padding: 2px 0px 2px 26px; background:url(images/photo.png) no-repeat center left; text-decoration: underline; color: #fff; }
a.unroll, a.unroll:link, a.unroll:visited { padding: 2px 0px 2px 28px; background:url(images/arrow-red.png) no-repeat center left; text-decoration: underline; color: #fff; }
a.enroll, a.enroll:link, a.enroll:visited { padding: 2px 0px 2px 28px; background:url(images/arrow-green.png) no-repeat center left; text-decoration: underline; color: #fff; }
a.read, a.read:link, a.read:visited { width: 15px; height: 16px; background:url(images/read.png) no-repeat center center; text-decoration: none; text-indent: -9999px; outline: none; display: inline-block; }
a.trash, a.trash:link, a.trash:visited { width: 13px; height: 15px; background:url(images/trash.png) no-repeat center center; text-decoration: none; text-indent: -9999px; outline: none; display: inline-block; }
a.profile, a.profile:link, a.profile:visited { padding: 2px 0px 2px 26px; background:url(images/self.png) no-repeat center left; text-decoration: underline; color: #fff; }
a.defriend, a.defriend:link, a.defriend:visited { padding: 2px 0px 2px 26px; background:url(images/defriend.png) no-repeat center left; text-decoration: underline; color: #fff; }
.banner a.beer, .banner a.beer:link, .banner a.beer:visited { padding: 2px 0px 2px 26px; background:url(images/beer.png) no-repeat center left; text-decoration: underline; color: #fff; text-indent: 0; width: auto; }
a.pm, a.pm:link, a.pm:visited { padding: 2px 0px 2px 26px; background:url(images/read-mail.png) no-repeat center left; text-decoration: underline; color: #fff; }
a.addfriend, a.addfriend:link, a.addfriend:visited { padding: 2px 0px 2px 26px; background:url(images/addfriend.png) no-repeat center left; text-decoration: underline; color: #fff; }

a.edit.sm, a.edit.sm:link, a.edit.sm:visited { padding: 0px; width: 20px; height: 20px; background:url(images/wrench.png) no-repeat top left; text-decoration: none; text-indent: -9999px; display: inline-block; }
a.trash.sm, a.trash.sm:link, a.trash.sm:visited { padding: 0px; width: 20px; height: 20px; background:url(images/trash.png) no-repeat top left; text-decoration: none; text-indent: -9999px; display: inline-block; }


/*** PROFILE BANNER ***/
img.profile.sm { max-width: 25px; max-height: 25px; }
img.profile.med { max-width: 40px; max-height: 40px; }
img.profile.big { max-width: 60px; max-height: 60px; }
img.profile.lrg { max-width: 65px; max-height: 64px; }
img.profile.fll { max-width: 320px; max-height: 320px; }


/*** PHOTO ***/
div.photo { border: 1px solid #a5a5a5; padding: 2px; float: left; margin: 0px 8% 8% 0px; }
div.photo:nth-child(6n) { margin-right: 0px; }
div.photo img { border: 1px solid #dbd8d7; max-width: 128px; max-height: 128px; }

div.album { font-size: 12px; display: inline; width: 25%; min-width: 136px; margin-bottom: 30px; text-align: center; padding: 25px 25px 25px 25px; }
div.album a, div.album a:link, div.album a:visited { color: #03577c; display: inline-block; }
div.album a:hover { }
div.album a img { max-width: 128px; max-height: 128px; margin-bottom: -8px; border: 4px solid #8d8989; }

div.image { width: 635px; margin: 0px auto; }
div.image a.nav-btn { color: #b8b9b9; font-weight: bold; }
div.image img { margin-top: 40px; max-width: 635px; margin-bottom: 30px; }


/*** CLASS-REVIEW ***/
div.review { border-bottom: 1px solid #e5e5e5; padding-bottom: 23px; margin-top: 32px; color: #939393; }
div.review img { vertical-align: text-top; }
div.review.msg { color: #252525; }


/*** CLUB ***/
img.club { max-width: 274px; max-height: 274px; margin-right: 15px; }


/*** PROFILE ***/
div.prof-info { color: #6a6a6a; font-size: 12px; }
div.prof-info label { font-weight: bold; display: inline-block; width: 95px; color: #2b2b2b; }
div.prof-info ul { color: #767676; margin-top: 10px; }
div.prof-info ul li { height: 16px; padding-left: 22px; margin-top: 7px; margin-bottom: 7px; }
div.prof-info ul li.book { background:url(images/book.png) no-repeat center left; }
div.prof-info ul li.class { background:url(images/case.png) no-repeat center left; }
div.prof-info ul li span.sell { color: #ff8c00; }


/*** FORM ***/
.form { border-top: 6px solid #971e21; background: url("images/30-gray.png") repeat; /* #dfdfd8; */ padding: 25px 28px 34px 29px; color: #676767; }
.form label { color: #000; font-size: 12px; float: left; width: 116px; cursor: pointer; }
.form input[type=text], .form input[type=password], .form input[type=email] { border: 1px solid #971e21; background: #fff; height: 28px; min-width: 160px; max-width: 274px; outline: none; width: 100%; }
.form select { border: 1px solid #971e21; background: #fff; height: 28px; outline: none; }
.form div.input { margin-bottom: 23px; }

.form ul.full {}
.form ul.full>li { width: 50%; float: left; margin-bottom: 42px; }
.form ul.full li>span { padding-left: 32px; }

.form ul.full li span.professor { background:url(images/person.png) no-repeat left center; }
.form ul.full li span.class { background:url(images/case.png) no-repeat left center; }
.form ul.full li span.event { background:url(images/event.png) no-repeat left center; }
.form ul.full li span.book { background:url(images/book.png) no-repeat left center; }
.form ul.full li span.organization { background:url(images/organization.png) no-repeat left center; }
.form ul.full li span.general { background:url(images/paper.png) no-repeat left center; }

.form ul.full li>ul { width: 100%; font-size: 13px }
.form ul.full li>ul li { list-style: square; list-style-position: inside; color: #dbdbdb; border-top: 1px solid #fff; border-bottom: 1px solid #dbdbdb; float: none; width: 90%; line-height: 1.2; padding: 10px 0px; }
.form ul.full li>ul li:first-child { border-top: 0px none transparent; }
.form ul.full li>ul li span { padding-left: 0px; }

div.twoCol { margin-bottom: 42px; font-size: 13px; }
div.twoCol div.lCol { float: left; width: 50%; }
div.twoCol div.rCol { float: left; width: 50%; }

div.twoCol>div>span { padding-left: 32px; }

div.twoCol span.professor { background:url(images/person.png) no-repeat left center; }
div.twoCol span.class { background:url(images/case.png) no-repeat left center; }
div.twoCol span.event { background:url(images/event.png) no-repeat left center; }
div.twoCol span.book { background:url(images/book.png) no-repeat left center; }
div.twoCol span.organization { background:url(images/organization.png) no-repeat left center; }
div.twoCol span.general { background:url(images/paper.png) no-repeat left center; }

div.twoCol>div>ul li { list-style: square; list-style-position: inside; color: #dbdbdb; border-top: 1px solid #fff; border-bottom: 1px solid #dbdbdb; float: none; width: 90%; line-height: 1.2; padding: 10px 0px; }
div.twoCol>div>ul li:first-child { border-top: 0px none transparent; }
div.twoCol>div>ul li span { padding-left: 0px; }


/*** CREATE FORM ****/
.create {}
.create label { display: block; text-transform: uppercase; font-weight: bold; }
.create input.half, .create textarea.half { width: 50%; }
.create input.full, .create textarea.full { width: 100%; }
.create label.post { color: #717171; font-size: 12px; font-weight: normal; text-transform: none; margin-right: 10px; display: inline; width: auto; float: left; }


/*** LISTING ***/
table.listing { color: #6a6a6a; }
table.listing label { width: 200px; text-transform: uppercase; font-weight: bold; color: #2b2b2b; display: block; }

div.listing { color: #6a6a6a; }
div.col { float: left; min-width: 30%; max-width: 50%; }
div.col label { width: 200px; text-transform: uppercase; font-weight: bold; color: #2b2b2b; display: block; }


/*** SEARCH ***/
.search {}
.search label { font-size: 12px; display: inline-block; min-width: 62px; max-width: 120px; color: #717171; text-align: right; margin-right: 10px; }
.search input[type=text] { border: 1px solid #c2c2c2; min-width: 135px; min-height: 23px; margin-bottom: 15px; margin-right: 28px; }
.search select { min-width: 135px; border: 1px solid #c2c2c2; min-height: 23px; margin-bottom: 15px; margin-right: 28px; }
.search textarea.full { width: 100%; border: 1px solid #c2c2c2; }

ul.filter { padding: 7px 0px; }
ul.filter li { padding: 9px 15px; margin: 3px 0px; }
ul.filter li.active { background: #f6fcff; }
ul.filter li a { color: #676767; text-decoration: none; display: inline-block; padding-left: 34px; min-height: 18px; }

ul.filter li a.all { background:url(images/mag-shadow.png) no-repeat center left; }
ul.filter li a.friend { background:url(images/all.png) no-repeat center left; }
ul.filter li a.prof { background:url(images/person.png) no-repeat center left; }
ul.filter li a.class { background:url(images/case.png) no-repeat center left; }
ul.filter li a.event { background:url(images/event.png) no-repeat center left; }
ul.filter li a.book { background:url(images/book.png) no-repeat center left; }
ul.filter li a.org { background:url(images/organization.png) no-repeat center left; }
ul.filter li a.post { background:url(images/paper.png) no-repeat center left; }

div.filter { margin-bottom: 0px; }
div.filter .input { text-align: right; }

div.search.result { background: #fcfcfb; padding: 15px 22px; border: 0px none transparent; }

div.search.result .res { border-bottom: 1px solid #dbdbdb; padding: 20px 19px 22px 12px; line-height: 1.5; }
div.search.result .res .res-con { padding-left: 37px; color: #6d6d6d; font-size: 12px; font-weight: normal; }
div.search.result .res .res-con a, div.search.result .res .res-con a:link, div.search.result .res .res-con a:visited { color: #6d6d6d; text-decoration: none; }
div.search.result .res .res-con a:hover { text-decoration: underline; }
div.search.result .res .res-con .actions { float: right; text-align: right; }
div.search.result .res .res-con .actions .rating { float: none; }
div.search.result .res .res-con .actions a.beer, div.search.result .res .res-con .actions a.beer:link, div.search.result .res .res-con .actions a.beer:visited { padding: 2px 0px 2px 26px; background-position: center left; display: inline; text-decoration: none; }
div.search.result .res .res-con .actions a.beer:hover { text-decoration: underline; }
div.search.result .res .res-con span.title { color: #454545; font-size: 13px; font-weight: bold; }
div.search.result .res .res-con img { float:left; margin: 0 15px 0 0; max-width: 120px; max-height: 120px; }

div.search.result .res .res-con.class { background:url(images/case.png) no-repeat top left; }
div.search.result .res .res-con.organization { background:url(images/organization.png) no-repeat top left; }
div.search.result .res .res-con.event { background:url(images/event.png) no-repeat top left; }
div.search.result .res .res-con.post { background:url(images/paper.png) no-repeat top left; }
div.search.result .res .res-con.person { background:url(images/person.png) no-repeat top left; }
div.search.result .res .res-con.professor { background:url(images/person.png) no-repeat top left; }
div.search.result .res .res-con.textbook { background:url(images/book.png) no-repeat top left; }


/*** MAIL ***/
ul.mail {}
ul.mail li { margin: 2px 0px; }
ul.mail li div.wrpr { padding: 4px 8px; background: #f3f3f0; color: #6d6d6d; font-size: 12px; }
ul.mail li div.wrpr span.name { color: #868686; line-height: normal; }
ul.mail li div.wrpr a.mail { background-image: url(images/read-mail.png); }
ul.mail li.hdr div.wrpr { color: #444444; }
ul.mail li div.wrpr.new { background: #edf4f7; }
ul.mail li div.wrpr.new span.name { color: #262626; }
ul.mail li div.wrpr.new a.mail { background-image:url(images/new-mail.png); }


/*** MESSAGES ***/
div.msg { padding: 16px 18px 11px 18px; margin-bottom: 25px; font-size: 13px; background: #e1ebef; color: #362f2f; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-bottom: 1px solid #b5d5e2; line-height: normal; }
div.msg h6 { color: #1c6a89; font-size: 15px; margin-bottom: 10px; }
div.msg div.icon { width: 28px; margin-right: 14px; float: left; background:url(images/msg-icon-nrm.png) no-repeat top left; min-height: 30px; height: 100%; }
div.msg div.cnt { width: 90%; float: left; }
div.msg div.cnt a.close, div.msg div.cnt a.close:link, div.msg div.cnt a.close:visited { float: right; font-weight: bold; color: #1c6a89; }

div.msg.sccss { background: #c7e6b4; border-bottom: 1px solid #abe69c; }
div.msg.sccss h6 { color: #28850a; }
div.msg.sccss div.icon { background:url(images/msg-icon-sccss.png) no-repeat top left; }
div.msg.sccss div.cnt a.close, div.msg.sccss div.cnt a.close:link, div.msg.sccss div.cnt a.close:visited { color: #28850a; }

div.msg.warn { background: #f6efb1; border-bottom: 1px solid #ffde2a; }
div.msg.warn h6 { color: #c27a00; }
div.msg.warn div.icon { background:url(images/msg-icon-warn.png) no-repeat top left; }
div.msg.warn div.cnt a.close, div.msg.warn div.cnt a.close:link, div.msg.warn div.cnt a.close:visited { color: #c27a00; }

div.msg.err { background: #f3bdb1; border-bottom: 1px solid #e66956;}
div.msg.err h6 { color: #c4330a; }
div.msg.err div.icon { background:url(images/msg-icon-err.png) no-repeat top left; }
div.msg.err div.cnt a.close, div.msg.err div.cnt a.close:link, div.msg.err div.cnt a.close:visited { color: #c4330a; }


/*** PROFILE PAGE ***/
div.prfl { margin-bottom: 40px; }
div.prfl.reply { margin-left: 82px; margin-bottom: 20px; }
div.prfl .pCol { float: left; width: 60px; margin-right: 22px; }
div.prfl .cCol { float: left; width: 85%; }
div.prfl .cCol a, div.profile .cCol a:link, div.profile .cCol a:visited { color: #3e7c97; }
div.prfl .cCol a:hover { text-decoration: underline; }

div.viewall { text-align: right; }
div.viewall a, div.viewall a:link, div.viewall a:visited { color: #3e7c97; font-size: 13px; }
div.viewall a:hover { text-decoration: underline; }


/*** RATING ***/
div.rating { float: right; }
span.star { background:url(images/star-full.png) no-repeat center center; width: 14px; height: 14px; display: inline-block; }
span.half { background:url(images/star-half.png) no-repeat center center; width: 14px; height: 14px; display: inline-block; }
span.empty { background:url(images/star-empty.png) no-repeat center center; width: 14px; height: 14px; display: inline-block; }


a.mail, a.mail:link, a.mail:visited { width: 28px; height: 19px; background:url(images/mail.png) no-repeat center bottom; text-indent: -9999px; outline: none; display: inline-block; }
a.beer, a.beer:link, a.beer:visited { width: 11px; height: 16px; background:url(images/beer.png) no-repeat center center; text-indent: -9999px; outline: none; display: inline-block; }
a.buy, a.buy:link, a.buy:visited { height: 17px; width: 57px; display: inline-block; text-indent: -9999px; outline: none; background:url(images/buy.png) no-repeat center center; }
a.sell, a.sell:link, a.sell:visited { height: 17px; width: 57px; display: inline-block; text-indent: -9999px; outline: none; background:url(images/sell.png) no-repeat center center; }

.box a.viewall, .box a.viewall:link, .box a.viewall:visited { float: right; color: #3e7c97; margin: 11px 8px -2px 0px;  }
.box a.viewall:hover { text-decoration: underline; }

a.view-all, a.view-all:link, a.view-all:visited { float: right; color: #838383; font-size: 12px; margin-right: 10%; }
a.view-all:hover { text-decoration: underline; }

a.back, a.back:link, a.back:visited { color: #838383; font-size: 12px; text-decoration: underline; }


/*** PAGINATION ***/
.pagination { text-align: right; }
.pagination ul {}
.pagination ul li { font-size: 11px; display: inline-block; }
.pagination ul li a { margin-right: 2px; border: solid 1px #888888; }
.pagination ul li.prev-off, .pagination ul li.next-off { color: #c2c2c2; font-weight: bold; padding: 3px 4px; }
.pagination ul li.prev-on a, .pagination ul li.next-on a { border: solid 1px #888888; font-weight: bold; }
.pagination ul li.active { color: #000000; font-weight: bold; padding: 4px 6px; }
.pagination ul li a:link, .pagination ul li a:visited { color: #888888; padding: 3px 6px; text-decoration: none; }
.pagination ul li a:hover { text-decoration: none; }

/** mine **/
table.listing .heading { font-size: 13px; line-height: 18px; color: #b4b4b4; background-color:#000000; border: 1px solid #8d8989;   }
table.listing .alternative { background-color:#f3f3f0; }

div.professor .listing { color: #6a6a6a; }
div.professor .listing label { width: 200px; text-transform: uppercase; font-weight: bold; color: #2b2b2b; display: block; }
.create input.quarter, .create textarea.half { width: 25%; }
div.review table { width:100%; }
div.review table .avatar { width:5% }

span.professor { padding: 2px 0px 2px 28px; background:url(images/person.png) no-repeat center left; text-transform: uppercase; }

.ml20 { margin-left: 10px; }
.ml20 { margin-left: 20px; }
.ml30 { margin-left: 30px; }
.ml40 { margin-left: 40px; }
.ml50 { margin-left: 50px; }
.ml60 { margin-left: 60px; }
.ml160 { margin-left: 160px; }

.mr50 { margin-right: 50px; }

.pl50 { padding-left: 50px; }
.pr150 { padding-right: 150px; }


a.itemlinked, a.itemlinked:link, a.itemlinked:visited { color: Black; }
a.itemlinked:hover { text-decoration: underline; }

a.edit-item, a.edit-item:link, a.edit-item:visited { color: #3E7C97; font-size: 13px; line-height: 18px; font-weight: normal; }
a.edit-item:hover { text-decoration: underline; }

a.header-linked, a.header-linked:link, a.header-linked:visited { color: White; font-size: 13px; line-height: 18px; font-weight: normal; text-decoration: underline }
a.header-linked:hover { text-decoration: underline; }

a.add-new-cross, a.add-new-cross:link, a.add-new-cross:visited { float: left; color: #4fac3c; font-size: 18px; margin-right: 10%; font-weight:bold }
a.add-new-cross:hover { text-decoration: underline; }
a.add-new, a.add-new:link, a.add-new:visited { float: left; color: #4fac3c; font-size: 12px; margin-right: 10%; }
a.add-new:hover { text-decoration: underline; }

a.name, a.name:link, a.name:visited { display: block; font-size: 14px; color: #262626; }
a.name:hover { text-decoration: underline; }

.imagebutton { border: 0; background: transparent; display: inline-block; text-decoration: none; outline: none; cursor: pointer; }

.tooltip {
	display:none;
	background:transparent url(images/tooltip/black_arrow.png);
	font-size:10px;
	height:70px;
	width:160px;
	padding:20px;
	color:#fff;	
}

.imagedisplay { width:100%; text-align:center }

.underline-heading { border-bottom: 1px solid #e5e5e5; }

.valign-top { vertical-align:top; }

a.hide-this, a.hide-this:link, a.hide-this:visited { text-decoration: underline; color: #fff; }
span.feed-time { color: #a4a4a4; font-size: 10px; margin-top: -14px; }
.mt50 { margin-top: 50px; }

a.approve, a.approve:link, a.approve:visited { width: 18px; height: 17px; background:url(images/plus.png) no-repeat center bottom; text-indent: -9999px; outline: none; display: inline-block; }
a.deny, a.deny:link, a.deny:visited { width: 18px; height: 17px; background:url(images/remove.png) no-repeat center bottom; text-indent: -9999px; outline: none; display: inline-block; }

header ul.nav li.has-sub-account { background:url(images/arrow-down.png) no-repeat 50px 12px; }
ul.notification li.organization { background:url(images/organization.png) no-repeat left center; }
ul.notification li.minilogo { background:url(images/minilogo.png) no-repeat left center; }
ul.notification li.posting { background:url(images/paper.png) no-repeat left center; }
ul.notification li.class { background:url(images/case.png) no-repeat left center; }
ul.notification li.board { background:url(images/board.png) no-repeat left center; }
ul.notification li.event { background:url(images/event.png) no-repeat left center; }

a.check, a.check:link, a.check:visited { padding: 2px 0px 2px 26px; background:url(images/check.png) no-repeat center left; text-decoration: underline; color: #fff; }
a.trash-delete, a.trash-delete:link, a.trash-delete:visited { padding: 2px 0px 2px 26px; background:url(images/trash.png) no-repeat center left; text-decoration: underline; color: #fff; }
div.board { border-bottom: 1px solid #e5e5e5; padding-bottom: 5px; margin-top: 5px; color: #939393; }
div.prfl { margin-bottom: 5px; }
div.prof-info ul li span.buy { color: #2673ff; }
span.board { padding: 2px 0px 2px 28px; background:url(images/board.png) no-repeat center left; text-transform: uppercase; }

.form span.empty-indent { color: #000; font-size: 12px; float: left; width: 116px; cursor: pointer; }
.form-normal { padding: 25px 30% 34px 30%; color: #676767; }
.form-normal label { color: #000; font-size: 12px; float: left; width: 116px; cursor: pointer; }
.form-normal span.empty-indent { color: #000; font-size: 12px; float: left; width: 116px; cursor: pointer; }
.form-normal input[type=text], .form-normal input[type=password], .form-normal input[type=email] { border: 1px solid #971e21; background: #fff; height: 28px; min-width: 160px; max-width: 274px; outline: none; width: 100%; }
.form-normal select { border: 1px solid #971e21; background: #fff; height: 28px; outline: none; }
.form-normal div.input { margin-bottom: 23px; }

a.disable-feature, a.disable-feature:link, a.disable-feature:visited { color:#999999; font-size: 9px; text-decoration: underline }
a.disable-feature:hover { text-decoration: underline; }

/****************************************************************************/
/************************** ERROR MESSAGE ***********************************/
/****************************************************************************/
div.error { padding: 10px 0px; background: #f6cbca; color: #d02327; border: 1px solid #cb2026; text-align: center; width: 640px; margin: 0px auto 10px auto; font-weight: bold; font-size: 12px; }
.req { color: red; font-style: italic; vertical-align: top; }

/*** EDIT USER ***/
.edit-user-form { border-top: 6px solid #971e21; background: url("images/30-gray.png") repeat; /* #dfdfd8; */ color: #676767; }
.edit-user-form label { color: #000; font-size: 12px; float: left; width: 200px; cursor: pointer; }
.edit-user-form .textarea { border: 1px solid #971e21; background: #fff; height: 150px; min-width: 160px; max-width: 274px; outline: none; width: 100%; }
.edit-user-form input[type=text], .edit-user-form input[type=password], .edit-user-form input[type=email] { border: 1px solid #971e21; background: #fff; height: 28px; min-width: 160px; max-width: 274px; outline: none; width: 100%; }
.edit-user-form select { border: 1px solid #971e21; background: #fff; height: 28px; outline: none; }
.edit-user-form div.input { margin-bottom: 23px; }
.edit-user-form div.field-holder { width: 500px; margin-bottom: 10px }

div.twoColEditUser { margin-bottom: 42px; font-size: 13px; }
div.twoColEditUser div.lCol { float: left; width: 25%; padding: 10px 10px 10px 10px }
div.twoColEditUser div.rCol { float: left; width: 65%; padding: 10px 10px 10px 10px }

/*** Message create ***/
.create-message-form { border-top: 6px solid #971e21; background: url("images/30-gray.png") repeat; /* #dfdfd8; */ color: #676767; }
.create-message-form label { color: #000; font-size: 12px; float: left; width: 100px; cursor: pointer; }
.create-message-form .textarea { border: 1px solid #971e21; background: #fff; height: 150px; min-width: 160px; max-width: 370px; outline: none; width: 100%; }
.create-message-form input[type=text] { border: 1px solid #971e21; background: #fff; height: 28px; min-width: 160px; max-width: 370px; outline: none; width: 100%; }
.create-message-form div.field-holder { width: 500px; margin-bottom: 10px }

div.twoColCreateMessage { margin-bottom: 42px; font-size: 13px; }
div.twoColCreateMessage div.lCol { float: left; width: 25%; padding: 10px 10px 10px 10px }
div.twoColCreateMessage div.rCol { float: left; width: 65%; padding: 10px 10px 10px 10px }

/*** Feature Create ***/
.create-feature-form { border-top: 6px solid #971e21; background: url("images/30-gray.png") repeat; /* #dfdfd8; */ color: #676767; }
.create-feature-form label { color: #000; font-size: 12px; float: left; width: 150px; cursor: pointer; }
.create-feature-form .textarea { border: 1px solid #971e21; background: #fff; height: 150px; min-width: 160px; max-width: 300px; outline: none; width: 100%; }
.create-feature-form input[type=text], .create-feature-form input[type=file] { border: 1px solid #971e21; background: #fff; height: 28px; min-width: 160px; max-width: 300px; outline: none; width: 100%; }
.create-feature-form select { border: 1px solid #971e21; background: #fff; height: 28px; outline: none; vertical-align: top; }
.create-feature-form div.field-holder { width: 500px; margin-bottom: 10px }
.create-feature-form div.field-holder-extra { vertical-align:top; width: 600px; margin-bottom: 10px }

.create-feature-form div.padding-col { padding: 25px 25px 25px 25px; }
.create-feature-form div.throw-right { text-align: right; }
.create-feature-form .button-padding { margin-right:49px }