<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAIAZWFMYI5YJ62SWA" />
    <add key="AWSSecretKey" value="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" />
    <add key="UserPhotosBucket" value="UniversityOfMeDev/UserPhotos" />
    <add key="ProfessorPhotosBucket" value="UniversityOfMeDev/ProfessorPhotos" />
    <add key="OrganizationPhotosBucket" value="UniversityOfMeDev/OrganizationPhotos" />
    <add key="TextbookPhotosBucket" value="UniversityOfMeDev/TextbookPhotos" />
    <add key="NewAccountsEmail" value="uofme.newaccounts@universityof.me" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />-->
    <!--
      <add name="UniversityOfMeEntities" connectionString="metadata=res://*/Models.UniversityOfMeDBModel.csdl|res://*/Models.UniversityOfMeDBModel.ssdl|res://*/Models.UniversityOfMeDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\ec2sqlexpress;Initial Catalog=UniversityOfMe;User ID=hsarat;Password=password01D;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      <add name="AutomatedEmailEntities" connectionString="metadata=res://*/Models.EmailAutomation.csdl|res://*/Models.EmailAutomation.ssdl|res://*/Models.EmailAutomation.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\ec2sqlexpress;Initial Catalog=UofMeAutomatedEmail;User ID=email;Password=password01D;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      -->
    <add name="UniversityOfMeEntities" connectionString="metadata=res://*/Models.UniversityOfMeDBModel.csdl|res://*/Models.UniversityOfMeDBModel.ssdl|res://*/Models.UniversityOfMeDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\UniversityOfMe.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AutomatedEmailEntities" connectionString="metadata=res://*/Models.EmailAutomation.csdl|res://*/Models.EmailAutomation.ssdl|res://*/Models.EmailAutomation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\AutomatedEmail.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Authentication/Login" timeout="2880" />
    </authentication>
    <membership defaultProvider="AdminMemberProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="AdminMemberProvider" type="UniversityOfMe.CustomAuthentication.AdminMemberProvider" />
      </providers>
    </membership>
    <roleManager defaultProvider="AdminRoleProvider" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="AdminRoleProvider" type="UniversityOfMe.CustomAuthentication.AdminRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>