<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAIAZWFMYI5YJ62SWA" />
    <add key="AWSSecretKey" value="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" />
  </appSettings>
  <connectionStrings>
      <!--
      <add name="AutomatedEmailEntities" connectionString="metadata=res://*/Models.UniversityOfMeDBModel.csdl|res://*/Models.UniversityOfMeDBModel.ssdl|res://*/Models.UniversityOfMeDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\ec2sqlexpress;Initial Catalog=UofMeAutomatedEmail;User ID=email;Password=password01D;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
      -->
    <add name="AutomatedEmailEntities" connectionString="metadata=res://*/Models.AutomatedEmailEntities.csdl|res://*/Models.AutomatedEmailEntities.ssdl|res://*/Models.AutomatedEmailEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=C:\Users\Henryk\Desktop\HAV-Production\UniversityOfMe\App_Data\AutomatedEmail.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>